<!-- <p>auth works!</p> -->

<main class="main">
    <section class="section">
        <div [class]="'card ' + route ">
            <header class="header-card">
                <h6 class="h6-card"> Card Title </h6>
                <div class="actions-card">
                    <button class="button-card-auth"> Sign Up </button>
                    <button class="button-card-auth"> Log In </button>
                </div>
            </header>
            <!-- <footer class="fotter-card"></footer> -->
        </div>
        <div class="router-components">
            <router-outlet></router-outlet>
        </div>
    </section>
</main>
