.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  &:has(.mistake_div:hover) .mistake_div:not(:hover) {
    filter: blur(1.5px);
    opacity: .5;
  }

  .span {
    max-width: 100%;
    text-wrap: wrap;
  }
}

.mistake_div {
  width: 100%;
  border: 1px solid var(--secondary-bg);
  border-radius: .7rem;
  padding: 2.5rem 1rem 1rem;
  color: var(--secondary);
  position: relative;

  transition-duration: .2s;
  transition-property: filter, opacity, transform;

  .header {

    padding: 5px 10px;
    position: absolute;
    /* background-color: rgba(243, 244, 238, 0.3); */
    top: -1rem;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0;

    .h4 {
      padding: .5rem;
      padding-top: 0;
      font-size: 2rem;
      line-height: 2rem;
      color: var(--secondary);
      background-color: #ffffff;
      line-height: fit-content;
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .7lh;
  }

  &:hover {
    transform: scale(1.01);
  }
}

.enteredCorrect_seciton {
  border: 1px solid var(--accent3);
  border-radius: .5rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  /* overflow: auto; */

  &:first-child {
    margin-bottom: 5px;
  }

  .h5 {
    background-color: #8984c7;
    border-radius: .5rem;
    color: var(--primary);
    line-height: 1rem;
    padding: .5rem;
  }

  &:has(.field_section) .h5 {
    /* background-color: #8984c7;
    border-radius: .5rem;
    color: var(--primary);
    line-height: 1rem;
    padding: .5rem; */
    font-size: 15px;
    text-align: center;
    /* position: absolute;
    top: -.7rem; */
  }

  &:not(:has(.field_section)) {
    position: relative;
    padding-top: .8lh;

    .h5 {
      position: absolute;
      top: -.7rem;
      padding: .25rem;
    }
  }
}

.field_section {
  margin-top: 10px;
  border: 1px solid var(--accent3);
  border-radius: .5rem;
  position: relative;
  padding: .5rem;
}

.field_title {
  font-size: 1rem;
  color: var(--secondary);
  font-weight: 600;
  position: absolute;
  top: -.5rem;
  line-height: 1rem;
  background-color: #ffffff;
  padding: .3rem;
  padding-top: 0;
}

.verbInfo_section {
  border: 1px solid var(--accent3);
  padding: .5rem;
  margin-top: .5rem;
  border-radius: .5rem;
  display: grid;
  gap: 5px;

  span:first-child {
    font-size: .8rem;
    color: var(--accent);
    font-weight: 600;
  }
}

.meanings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.meaningsHeader,
.meaningsContent {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary);

  .h6 {
    font-size: .8rem;
    color: var(--accent);
    font-weight: 600;
  }
}

.meaningsContent {
  justify-content: start;
  border: none;
}

.div-button {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;

  button {
    width: max-content;
    font-size: 16px;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--primary);

    transition-duration: .2s;
    transition-property: background-color, transform;

    &:hover {
      transform: scale(1.1);
      background-color: var(--accent);
    }
  }
}

@media (max-width: 700px) {
  .mistake_div .content {
    grid-template-columns: 1fr;
  }
}