<!-- <p>add-element-to-practice works!</p> -->

<main class="main">
  <header class="main_header">
    <button class="btn back_btn" [routerLink]="['/' + backTo]">
      <i class="bi bi-arrow-bar-left"></i>
      Volver
    </button>

    <!-- @if (url.endsWith('test')) {
            <span> {{ testList.length }} </span>
        } -->
  </header>
  <!-- <form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <header class="form_header"></header>
    <div class="form_content">
      <label class="label">
        <span> Type: </span>
        <select class="select" formControlName="type">
          @for(type of typesList; track $index){
          <option [value]="type.id" class="option">{{ type.name }}</option>
          }
        </select>
      </label>

      <label class="label">
        <span> {{ grammarLesson ? "Title" : "Base" }}: </span>
        <input
          type="text"
          formControlName="en"
          class="input"
          [placeholder]="grammarLesson ? 'Lesson Title' : 'Base Form'"
        />
      </label>

      @if (word) {
      <span> Uses: </span>
      <nz-select
        nzMode="multiple"
        nzPlaceHolder="Please select"
        formControlName="selectedUses"
      >
        @for (item of usesList; track item) {
        <nz-option [nzLabel]="item.name" [nzValue]="item"></nz-option>
        }
      </nz-select>

      <div formArrayName="uses" class="uses_div">
        @for (group of uses.controls; track group.value.id; let i = $index) {
        <div class="use_container" [formGroupName]="i">
          <header>
            <h6>
              <span> {{ group.value.name }} </span> Meanings:
              {{ getMeanings(i).value.length }}
            </h6>
          </header>
          @if (group.value.id === verbId) {
          <div formGroupName="verbInfo" class="verbInfo">
            <label class="label irregular_label">
              <span>Irregular Verb:</span>
              <nz-switch
                nzCheckedChildren="Irregular"
                nzUnCheckedChildren="Regular"
                formControlName="irregular"
              ></nz-switch>
            </label>

            <div class="verbInfo_input_section">
              <label class="label">
                <span> Simple Past </span>
                <input
                  type="text"
                  placeholder="Simple Past"
                  formControlName="simplePast"
                />
              </label>
              <label class="label">
                <span> Past Participle </span>
                <input
                  type="text"
                  placeholder="Past Participle"
                  formControlName="pastParticiple"
                />
              </label>
            </div>
          </div>

          <strong>Meanings</strong>
          <hr />
          }
          <div formArrayName="meanings" class="use_meanings">
            @for (meaning of getMeanings(i).controls; track meaning; let j =
            $index) {
            <div class="meaning_container">
              <input type="text" [formControlName]="j" placeholder="Meaning" />
              @if (getMeanings(i).value.length > 1) {
              <i
                class="bi bi-trash"
                (click)="removeWordMeaning(i, j)"
                title="Remove"
              ></i>
              }
            </div>
            }
          </div>
          <footer class="use_footer">
            <button
              type="button"
              class="btn add_btn"
              (click)="addWordMeaning(i)"
              title="Add Meaning"
            >
              <i class="bi bi-plus-circle"></i>
            </button>
          </footer>
        </div>
        }
      </div>
      } @else {
      <div class="use_container">
        <header>
          <h6>Meanings: {{ meanings.value.length }}</h6>
        </header>
        <div formArrayName="meanings" class="use_meanings">
          @for (meaning of meanings.controls; track meaning; let i = $index) {
          <div class="meaning_container">
            <input type="text" [formControlName]="i" placeholder="Meaning" />
            @if (meanings.value.length > 1) {
            <i
              class="bi bi-trash"
              (click)="removeMeaning(i)"
              title="Remove"
            ></i>
            }
          </div>
          }
          <button
            type="button"
            class="btn add_btn"
            (click)="addMeaning()"
            title="Add Meaning"
          >
            <i class="bi bi-plus-circle"></i>
          </button>
        </div>
      </div>
      } @if ( form.value.verbInfo && form.value.verbInfo.irregular === true ) {
      <div formGroupName="verbInfo">
        <label class="label">
          <span> Simple Present: </span>
          <input
            type="text"
            formControlName="simplePresent"
            class="input"
            placeholder="Presente Simple"
          />
        </label>
        <label class="label">
          <span> Simple Past: </span>
          <input
            type="text"
            formControlName="simplePast"
            class="input"
            placeholder="Simple Past"
          />
        </label>
        <label class="label">
          <span> Past Participle: </span>
          <input
            type="text"
            formControlName="pastParticiple"
            class="input"
            placeholder="Past Participle"
          />
        </label>
      </div>
      }
      <button type="submit" class="btn register_btn" title="Register">
        Registrar / Editar
      </button>
    </div>
  </form> -->
  <app-form (formInfoEmitter)="submit($event)"></app-form>
</main>
