.form {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5lh;
  border: 0.12rem solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 2lh clamp(0.7lh, 5vw, 2lh);
  /* width: 1000px; */
  width: 90%;
  margin: 5vh auto;
  color: var(--secondary);
}

.form-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1lh 2lh;
  border-bottom: 0.12rem solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.1rem;
  /* margin-bottom: 1.5lh; */
  color: var(--secondary);
  font-size: 1.5rem;
}

.header-verb-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1lh;
  flex-wrap: wrap;
  border-bottom: .1rem solid var(--secondary);
  padding-bottom: .5rem;

  .irregular-label {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
  }
}

h6 {
  font-size: 1rem;
}

.verb-meanings-title {
  border-bottom: .1rem solid var(--secondary);
  padding-bottom: .5rem;
}

.meanings-box {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1lh;

  .meaning-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .input-box {
      width: 100%;

      .textarea {
        height: 2lh;
        max-width: 72vw;
        resize: both;
        color: var(--secondary);
      }
    }

    .bi-trash {
      cursor: pointer;
      color: var(--error-color);
      font-size: 1.1rem;
    }
  }

  .add-button {
    background-color: #8984c7;
    color: var(--primary);
    border: none;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
  }
}

.uses-div {
  display: flex;
  flex-direction: column;
  gap: 1.5lh;

  .verb-meanings-title {
    margin-top: 1lh;

    .accent {
      color: var(--accent);
    }
  }
}