<!-- <p>add-practice-list works!</p> -->

<main class="main">
    <header class="header">
        <button class="button" type="button" [routerLink]="[ '/practice-lists' ]" >
            Volver
        </button>
    </header>

    <div class="content_div">
        <div class="table_container">
            <app-table 
                [tableInfo]="tableInfo" 
                [itemList]="itemList" 
                [filterFormFields]="filterFormFields" 
                (editAction)="elementToPraciceEdit($event)" 
                (deleteAction)="elementToPraciceDelete($event)"
                (filterAction)="getElementsToPracice($event)"
            ></app-table>
        </div>
    </div>
</main>
