
.main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 20px;
    padding: 20px 0;
    color: var(--primary);
}

.main_header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    & span {
        font-size: 25px;
        border-radius: 20%;
        padding: 0 7px;
        background-color: var(--secondary);
        color: var(--accent);
    }
}

.back_btn {
    /* margin-left: 20px; */
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    width: min-content;

    & i {
        transition: .1s color ease-in;
    }

    &:hover i {
        color: var(--accent);
    }
}

.form {
    justify-self: center;
    align-self: center;
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    color: var(--primary);
    /* width: clamp(min(90%, 500px), 40vw, max(70vw, 800px)); */
    width: 500px;
    height: fit-content;
    max-width: 90vw;
}

.form_header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

h4, h6 {
    color: var(--primary);
}

h4 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
    margin-top: 10px;
}

.form_content {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-column: repeat(auto-fit, minmax(100%, 200px));
    gap: 10px;
}

.label {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input, select {
    min-width: 0;
    max-width: 100%;
    box-sizing: border-box;
}

/* .form-switch {
    margin: 0;
    padding: 0;
    
    & .label {
        flex-direction: row;
        gap: 50px;
    }
}

.form-check-input:checked {
    background-color: var(--accent);
} */

.select , input {
    color: var(--secondary);
    border: none;
    outline: none;
    padding: 4px 8px;
    border-radius: 5px;
}

.formArrayName {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(180px, 100%), 1fr ));
    gap: 15px;
    padding: 5px;
    padding-top: 0;
}

.formGroupName {
    display: grid;
    grid-template-columns: calc(100% - 25px) min-content;
    justify-content: space-between;
    align-items: center;

    & i {
        text-align: end;
        cursor: pointer;

        transition: .2s ease;
        transition-property: color, transform;

        &:hover {
            transform: scale(1.3);
            color: var(--accent2);
        } 
    }
}

h6 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.btn {
    cursor: pointer;
    width: 80px;
    max-width: 100%;
    font-size: 1rem;
    padding: 6px 12px;
    font-weight: 500;
    color: var(--primary);
    background-color: var(--secondary);
    border: none;
    outline: none;
    border-radius: 10px;

    transition: .1s ease-in;
    
    &:hover {
        transform: scale(1.1);
        border: default;
    }
}

.add_btn {
    background-color: rgba(144, 147, 159, 0.35);
}

.register_btn {
/* .btn { */
    width: 100%;
    font-size: 1rem;
    padding: 6px 12px;
    font-weight: 500;
    background-color: var(--accent);

    transition: .1s ease-in;
    
    &:hover {
        transform: scale(102%);
    }
}

.disable {
    font-size: 16px;
    font-weight: 500;
    /* background-color: var(--accent3); */
    color: var(--accent);
}
