.logIn-container {
    --special-color: rgb(211, 212, 206);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;

    &.es {
        .title-form {
            font-size: clamp(1.8rem, 5vw, 2.5rem);
        }
    }
}

.section {
    height: 100%;
    width: calc(45% - 1rem);
    display: grid;
    gap: 2rem;
    /* justify-content: center; */
    align-items: end;
    overflow-y: auto;
    overflow-x: clip;
}

.header-section {
    align-self: self-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.h3-header-logIn {
    font-size: clamp(1rem, 3vw, 1.7rem);
    font-weight: 600;
}

.form {
    display: grid;
    gap: 1rem;
    text-align: center;
    width: clamp(min(100%, min-content), 90%, 90%);
    margin: auto;
}

.title-form {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 600;
    line-height: fit-content;
}

.subtitle-form {
    font-size: clamp(.7rem, 2vw, .9rem);

    .span-subtitle {
        font-size: clamp(.8rem, 2vw, 1rem);
        /* color: var(--accent); */
    }
}


.fieldset {
    width: 100%;
    /* text-align: end; */
    display: grid;
    gap: 1rem;

    transition: .2s ease-in;
    transition-property: gap, margin-bottom;

    &:has(.invalid-icon) {
        gap: 1.5rem;
        margin-bottom: .5lh;
    }

    .input-box {

        position: relative;
        display: grid;
        gap: .2rem;

        &:has(.invalid-icon) .input {
            border-color: var(--error-color-bg);
        }

        &:has(.input:focus) .span-letter,
        &:has(.input:not(:placeholder-shown)) .span-letter {
            border-bottom: .1rem var(--secondary);
            transform: translateY(-100%);
            color: var(--accent);
        }

        .label-input {
            position: relative;

            .span-label-div {
                position: absolute;
                top: .5rem;
                bottom: .5rem;
                left: .7rem;
                display: flex;
                justify-content: start;
                align-items: center;
                /* gap: .05rem; */
                color: #808080;
            }
        }

        .input {
            width: 100%;
            border: .15rem solid var(--special-color);
            outline: none;
            border-radius: .5rem;
            padding: .5rem;
            background-color: var(--primary);
        }

        .invalid-icon {
            color: var(--error-color);
            text-align: start;
            width: fit-content;
            position: absolute;
            right: .5rem;
            bottom: -1lh;
        }
    }
}

[class^="bi bi-eye"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .5rem;
    cursor: pointer;
    font-size: 1rem;
    color: var(--accent);
}

.span-letter {
    transition: .2s ease;
    transition-property: transform, color;
    background-color: var(--primary);
    padding: .0 .05rem;
    transition-delay: calc(var(--i) * 50ms);
    position: relative;
}

.span-or {
    position: relative;
    width: fit-content;
    margin: auto;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -3.5rem;
        transform: translateY(-50%);
        color: rgba(211, 212, 206, 0.7);
        border: .15rem solid;
        border-radius: .1rem;
        height: .1rem;
        width: 3rem;

        box-shadow: 5rem 0 0;
    }
}

.span-url {
    cursor: pointer;
    color: var(--accent);
    justify-self: end;
    font-size: .85rem;
}

.forgot-password {
    font-size: .85rem;
    cursor: not-allowed;
}

[class^="button"] {
    cursor: pointer;
    border: 2rem;
    border-radius: 2rem;
    padding: .5rem 1rem;
    background-color: var(--primary);
    border: .15rem solid var(--special-color);
    font-size: clamp(.6rem, 1vw, .9rem);

    transition: .2s transform ease-in;

    &:not(.button-header-logIn):hover {
        transform: scale(105%);
    }
}

.button-header-logIn {
    cursor: not-allowed;
}

.button-google {
    cursor: not-allowed;
}

.button-google {
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    .div-google {
        height: 1.3rem;
        width: 1.3rem;
        background-image: url('/images/google-icon.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.button-submit {
    border: none;
    background-color: var(--accent);
    color: var(--primary);
    font-weight: 500;
}

.sign-up-span {
    font-size: clamp(.6rem, 2vw, .9rem);
}

.footer-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    .bi {
        cursor: not-allowed;
        color: rgba(0, 0, 0, 0.7);
        font-size: clamp(1rem, 2vw, 1.4rem);
    }
}

@media (max-width: 800px) {

    .section {
        width: 100%;
    }

}