<!-- <p>pricing works!</p> -->

<div class="pricing-container">
    <header class="header-pricing">
        <h4 class="h4-section-title-pricing">Ready to expand your vocabulary?</h4>
        <p class="p-header-pricing">Join thousands of learners who are already improving their English with VocabMaster</p>
    </header>
    <button class="button-pricing"> Start Your Free Trial <i class="bi bi-arrow-right-short"></i> </button>
    <span class="span-pricing-footer">Cancel anytime • No commitment required</span>
</div>
