.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  /* overflow-x: auto; */
}

.actual_selection {
  min-height: 2.4rem;
  display: flex;
  justify-content: center;

  .number {
    color: var(--accent);
  }
}

.selectedItem_div {
  min-height: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

.selectedItem_span {
  font-size: 1rem;
  font-weight: 700;

  .number {
    font-size: 1.2rem;
  }
}

.button-clear {
  outline: none;
  background-color: var(--primary);
  color: var(--secondary-bg);
  padding: .2rem .5rem;
  border: .15rem solid var(--secondary-bg);
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 600;

  transition: .2s ease;
  transition-property: transform, background-color, color, border-color;

  &:hover {
    background-color: var(--primary);
    border-color: var(--accent);
    color: var(--accent);
  }
}

.filters_section {
  min-height: 42px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;

  [class^="button"] {
    cursor: pointer;
    font-size: 1rem;
    padding: .4rem .8rem;
    border: none;
    border-radius: .4rem;
    background-color: #d6d7dc;
    color: var(--secondary);
    font-weight: 500;
    border: .15rem solid var(--secondary);

    .bi-filter::before {
      font-size: 1.1rem;
    }
  }

  .button-delete-all {
    border: .15rem dashed var(--error-color);
    background-color: var(--primary);
    color: var(--error-color);
    font-weight: 500;

    transition: .2s ease allow-discrete;
    transition-property: transform, background-color, color, border-style;

    &:hover {
      font-weight: auto;
      background-color: var(--error-color);
      color: var(--primary);
      border-style: solid;
    }
  }
}

.filterButton_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 10px;

  .clear {
    background-color: var(--secondary-bg);
    color: var(--primary);
    border: none;
  }
}

/* .regular {
  min-width: max-content;
} */

.special {
  max-width: 100%;
  /* max-height: 60vh; */
  height: 60vh;
  min-height: 60vh;
  overflow: auto;
  resize: vertical;

  .table {
    position: relative;

    .thead {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }

}