.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  /* overflow-x: auto; */
}

.actual_selection {
  min-height: 2.4rem;
  display: flex;
  justify-content: center;

  .number {
    color: var(--accent);
  }
}

.selectedItem_div {
  min-height: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

.selectedItem_span {
  font-size: 1rem;
  font-weight: 700;

  .number {
    font-size: 1.2rem;
  }
}

.button-clear {
  outline: none;
  background-color: var(--primary);
  color: var(--secondary-bg);
  padding: .2rem .5rem;
  border: .15rem solid var(--secondary-bg);
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 600;

  transition: .2s ease;
  transition-property: transform, background-color, color, border-color;

  &:hover {
    background-color: var(--primary);
    border-color: var(--accent);
    color: var(--accent);
  }
}

.filters_section {
  min-height: 42px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;

  [class^="button"] {
    cursor: pointer;
    font-size: 1rem;
    padding: .4rem .8rem;
    border: none;
    border-radius: .4rem;
    background-color: #d6d7dc;
    color: var(--secondary);
    font-weight: 500;
    border: .15rem solid var(--secondary);

    .bi-filter::before {
      font-size: 1.1rem;
    }
  }

  .button-delete-all {
    border: .15rem dashed var(--error-color);
    background-color: var(--primary);
    color: var(--error-color);
    font-weight: 500;
    
    transition: .2s ease allow-discrete;
    transition-property: transform, background-color, color, border-style;
    
    &:hover {
      font-weight: auto;
      background-color: var(--error-color);
      color: var(--primary);
      border-style: solid;
    }
  }
}

.filterButton_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 10px;

  .clear {
    background-color: var(--secondary-bg);
    color: var(--primary);
    border: none;
  }
}

.table_container {
  /* min-width: 1800px; */
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  min-width: max-content;
}

.thead {
  font-size: 1.1rem;
  background-color: var(--secondary);
  color: var(--primary);
}

.tbody {
  background-color: rgba(26, 24, 53, 0.1);
  font-weight: 500;

  .useName {
    /* color: var(--accent); */
    font-weight: 700;
  }
}

.tbody:hover .tr:not(:hover) {
  opacity: 75%;
}

.th {
  padding: 1.4rem;
}

.td {
  padding: 10px;
  text-align: center;
}

.pair {
  background-color: rgba(26, 24, 53, 0.15);
}

.actions_td {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  .bi {
    cursor: pointer;
    font-size: 1rem;
    width: 25.14px;
    border-radius: 10%;

    transition: 0.1s ease-in;
    transition-property: color, background-color, border-radious, transform;

    &:hover {
      transform: scale(1.1);
      color: var(--accent);
      background-color: var(--secondary);
      border-radius: 20%;
    }
  }

  .bi-x-circle {
    color: var(--error-color);
  }
}

.empty {
  /* color: var(--accent); */
  font-weight: 650;
}

.null {
  /* color: var(--accent2); */
  font-weight: 700;
}

.empty-p, .loading-p {
  padding: 1.2rem;
  text-align: center;
  font-size: 1rem;
  background-color: rgba(26, 24, 53, 0.1);
}

.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.itemListLength {
  font-weight: 600;
}

.div-state {
  background-color: var(--primary);
  border-radius: 1rem;
  padding: .2rem;
  width: fit-content;
  margin: auto;
}
