<!-- <p>table works!</p> -->
<main class="main">
  <div class="actual_selection">
    <div class="selectedItem_div">
      @if (actualSelectedItems.length > 0) {
      <span class="selectedItem_span"> You have selected <span class="number"> {{actualSelectedItems.length}} </span>
        items </span>
      <span> - </span>
      <button class="button-clear" (click)="clearSelectedItems()" title="Clear selected items">
        Clear <i class="bi bi-eraser-fill"></i>
      </button>
      }
    </div>
  </div>
  <div class="filters_section">
    <div class="filterButton_div">
      @if (filterFormFields) {
      <button class="button-show" (click)="showFiltersModal()" title="Filter">
        Filter <i class="bi bi-filter"></i>
      </button>
      @if (actualSelectedFilters) {
      <button class="button-clear" (click)="clearFilters()" title="Clear Filters">
        Clear <i class="bi bi-eraser-fill"></i>
      </button>
      }
      }
    </div>

    @if (actualSelectedItems.length > 1) {
    <button class="button-delete-all" nz-popconfirm nzPopconfirmTitle="Sure to delete all of selected items?"
      (nzOnConfirm)="deleteAllAction.emit(true)" title="Delete all selection">
      Delete selection
      <i class="bi bi-trash"></i>
    </button>
    }
  </div>
  <div class="table_container">
    @if ( !itemList ) {
    <p class="loading-p"> Charging files <nz-icon nzType="loading" nzTheme="outline" /> </p>
    } @else {
    @if ( paginatedItems.length > 0 ) {
    <table class="table">
      <thead class="thead">
        <tr class="tr">
          <th class="th" [nzChecked]="checked" [nzIndeterminate]="indeterminate" nzLabel="Select all"
            (nzCheckedChange)="onAllChecked($event)"></th>
          <th class="th">#</th>
          @for(item of tableInfo; track $index) {
          <th class="th">
            {{ item.header }}
          </th>
          }
          <th class="th">Actions</th>
        </tr>
      </thead>
      <tbody class="tbody">
        @for(item of paginatedItems; track item.id) {
        <tr class="tr {{ ($index + 1) % 2 === 0 ? 'pair' : '' }} ">
          <td class="td" [nzChecked]="setOfCheckedId.has(item.id)" [nzDisabled]="item.disabled" [nzLabel]="item.name"
            (nzCheckedChange)="onItemChecked(item.id, $event)"></td>
          <td class="td">{{ getItemIndex(item.id) }}</td>
          @for(keyItem of tableInfo; track $index) {
          <td class="td {{ getClass(item, keyItem) }}">
            @if (keyItem.key === 'meanings') {
            @if ( item.uses ) {
            @for (use of item.uses; track $index; let i = $index) {
            <span>
              [
              <span class="useName">{{ use.name }}:</span>
            </span>
            @for (meaning of use.meanings; track $index; let j = $index) {
            {{ meaning }}
            @if (use.meanings.length > 1 && j + 1 < use.meanings.length) { <span> - </span>
              }
              }
              <span>]</span>
              }
              }
              @else {
              @for (meaning of item[keyItem.key]; track $index; let i = $index) {
              {{ meaning }}
              @if (item[keyItem.key].length > 1 && i + 1 < item[keyItem.key].length) { <span> - </span>
                }
                }
                }
                }
                @else if ( keyItem.key ==='list' ) {
                <span> {{ item.list.length }} </span>
                }
                @else {
                @if ( keyItem.key === 'createdAt' || keyItem.key === 'lastUpdate' ) {
                {{ getValue(item, keyItem) | date: 'EEEE, d/M/y, h:mm:ss a' }}
                } @else if (keyItem.key === 'state') {
                <div class="div-state">
                  <nz-switch nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
                    [ngModel]=" getValue(item, keyItem) "
                    (ngModelChange)="changeState({ id: item.id, state: $event })"></nz-switch>
                </div>
                } @else {
                {{ getValue(item, keyItem) }}
                }
                }
          </td>
          }
          <td class="td actions_td">
            <i class="bi bi-pencil-square" title="Edit Word" (click)="editAction.emit(item.id)"></i>
            <i nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteAction.emit(item.id)"
              class="bi bi-x-circle" title="Delete Word"></i>
          </td>
        </tr>
        }
      </tbody>
    </table>
    } @else {
    <p class="empty-p">There are not items to show</p>
    }
    }
  </div>
  @if ( itemList && itemList.length > paginatedItems.length ) {
  <div class="paginator">
    <span class="span itemListLength"> {{ itemList.length + ' items' }} </span>
    <nz-pagination [(nzPageIndex)]="page.index" [(nzPageSize)]="page.size" [nzPageSizeOptions]="[5, 10, 20, 30, 40, 50]"
      [nzTotal]="itemList.length" [nzSize]="'default'" nzShowSizeChanger nzShowQuickJumper
      (nzPageIndexChange)="paginationChange()" (nzPageSizeChange)="paginationChange()"></nz-pagination>
  </div>
  }
</main>