<!-- <p>add-practice-list works!</p> -->

<main class="main">
    <header class="header">
        <button class="button" type="button" [routerLink]="[ '/practice-lists' ]">
            Volver
        </button>
    </header>

    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
        <header class="header-form">
            <h4> {{ !id ? 'New' : '' }} Practice List </h4>
        </header>

        <fieldset class="fieldset">
            <fieldset class="subfieldset" formGroupName="title">
                <legend class="legend"> {{ language === 'en' ? 'Title' : 'Titulo' }} </legend>
                <div class="input-box">
                    <i class="bi bi-asterisk" nz-popover
                        [nzPopoverContent]=" language === 'en' ? 'Required Field' : 'Campo Obligatorio' "></i>
                    <label class="label-input">
                        <div class="span-label-div">
                            @for (letter of letters( language === 'en' ? 'English' : 'Ingles' ); track $index) {
                            <span class="span-letter" [style.--i]="$index"> {{letter}} </span>
                            }
                        </div>
                        <input type="text" formControlName="en" placeholder="" class="input">
                    </label>
                    @if ( showErrors && getControlErrors('title', 'en').length > 0 ) {
                    <i class="bi bi-exclamation-circle-fill invalid-icon" nz-popover nzPopoverTitle="Invalid Title"
                        nzPopoverContent="Please enter a valid title."></i>
                    }
                </div>
                <div class="input-box">
                    <i class="bi bi-asterisk" nz-popover
                        [nzPopoverContent]=" language === 'en' ? 'Required Field' : 'Campo Obligatorio' "></i>
                    <label class="label-input">
                        <div class="span-label-div">
                            @for (letter of letters( language === 'en' ? 'Spanish' : 'Español' ); track $index) {
                            <span class="span-letter" [style.--i]="$index"> {{letter}} </span>
                            }
                        </div>
                        <input type="text" formControlName="es" placeholder="" class="input">
                    </label>
                    @if ( showErrors && getControlErrors('title', 'es').length > 0 ) {
                    <i class="bi bi-exclamation-circle-fill invalid-icon" nz-popover nzPopoverTitle="Titulo Invalido"
                        nzPopoverContent="Por favor ingrese un titulo valido."></i>
                    }
                </div>
            </fieldset>

            <!-- <div class="input-box">
                @if ( isRequired('list') && form.controls['list'].enabled ) {
                <i class="bi bi-asterisk" nz-popover
                    [nzPopoverContent]=" language === 'en' ? 'Required Field' : 'Campo Obligatorio' "></i>
                }
                <label class="label-input">
                    <div class="span-label-div">
                        @for (letter of letters( language === 'en' ? 'Content' : 'Contenido' ); track
                        $index) {
                        <span class="span-letter" [style.--i]="$index"> {{letter}} </span>
                        }
                    </div>
                    <nz-select nzMode="multiple" nzAllowClear formControlName="list" class="
                            {{
                                form.get('list')?.value?.length > 0 ?
                                'with-content' :
                                ''
                            }}">
                        @for (item of elementsToPractice; track item) {
                        <nz-option [nzLabel]=" item.en" [nzValue]="item.id"></nz-option>
                        }
                    </nz-select>
                </label>
                @if ( showErrors && getControlErrors('list').length > 0 ) {
                <i class="bi bi-exclamation-circle-fill invalid-icon" nz-popover
                    [nzPopoverTitle]=" language === 'en' ? 'Invalid Content' : 'Contenido Invalido' "
                    [nzPopoverContent]=" language === 'en' ? 'Please select at least one Element To Practice.' : 'Por favor seleccione al menos un Elemento a Practicar.' "></i>
                }
            </div> -->

            <div class="div-list">
                <header class="header-list">
                    <h6> {{ language === 'en' ? 'Content' : 'Contenido' }} </h6>
                </header>

                @if ( list.length > 0 ) {
                <ul class="ul-list">
                    @for (id of list; track $index) {
                    <li class="li-list"> {{ getItemName(id) }} </li>
                    }
                </ul>
                }
            </div>

            <div class="table module-table">
                <app-table [tableInfo]="tableInfo" [itemList]="elementsToPractice" [page]="page"
                    [filterFormFields]="filterFormFields" (pageEmitter)="page = $event"
                    (filterAction)="getElementsToPractice($event)" (listEmitter)="selectionChange($event)"></app-table>
            </div>

        </fieldset>
        <button type="submit" class="submit" [title]=" !id ? 'Register' : 'Edit' + 'practice list'"> {{ !id ? 'Register'
            : 'Edit'}} </button>
    </form>
</main>