.main,
.content_div,
.form,
.fileds,
.label,
.select_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  padding: 20px;
}

.header .button {
  font-size: 16px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--primary);
}

/* .content_div {
    flex-direction: row;
    justify-content: center;
} */

.form {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5lh;
  border: 0.12rem solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 2lh clamp(0.7lh, 5vw, 2lh);
  /* width: 1000px; */
  width: 90%;
  margin: 5vh auto;
  color: var(--secondary);
}

.header-form {
  /* display: flex;
  justify-content: start; */
  width: 100%;
  font-size: 1.5rem;
}

.div-list {
  border: .1rem solid var(--accent3);
  border-radius: .5rem;
  padding: .5rem;

  transition: .2s ease-in;

  .ul-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;

    .li-list {
      background-color: #d3d4d9;
      color: var(--secondary);
      padding: .2rem .5rem;
      border-radius: .3rem;

    }
  }
}

.module-table {
  max-width: 100%;
  max-height: 60vh;
  overflow: auto;
}