<!-- <p>header works!</p> -->

<div class="container_div">
    <button type="button" class="button-menu" title="Menu" (click)="changeMenu.emit(true)" >
        <i class="bi bi-list"></i>
    </button>

    <h1>Practice Tool</h1>

    <button 
      type="button"
      class="button-options"
      title="options"
      nz-dropdown
      [nzDropdownMenu]="menu"
      nzTrigger="click" 
    >
        <i class="bi bi-gear"></i>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu class="ul-options" >
        <li nz-menu-item [routerLink]="profileRoute" >Profile</li>
        <li nz-menu-item>
          <button 
            type="button"
            class="button-log-out"
            data-bs-toggle="button"
            title="Log out"
            nz-popover
            nzPopoverTitle="Log out"
            nzPopoverTrigger="click"
            [nzPopoverContent]="contentTemplate"
          > Log Out </button>
          <ng-template #contentTemplate>
            <a (click)="logOut()">Sure?</a>
          </ng-template>
        </li>
      </ul>
    </nz-dropdown-menu>
    
</div>
