
.container_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    padding: 1.2rem;
    gap: 1.2rem;
    border-radius: .3rem;
    border-bottom: .1rem solid var(--secondary);
    background-color: var(--primary);
}

[class^="button"], ::ng-deep .ant-dropdown-trigger {
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    padding: .3rem .6rem;
    color: var(--accent);
    border: .1rem solid var(--accent);
    
    .bi-list::before {
        transition: .1s transform ease;
    }

    &:hover {
        color: var(--primary);
        background-color: var(--accent);

        .bi-list::before {
            transform: scale(1.5);
        }
    }
}

::ng-deep .ant-dropdown-menu-item {
    padding: 1rem;
}

.button-options {
    border: none;
    color: var(--primary);
    background-color: var(--secondary);

    transition: .2s ease;
    transition-property: transform, background-color;
    
    .bi-gear::before {
        color: var(--primary);

        transition: .2s transform ease;
    }

    &:hover {
        transform: scale(1.1);
        background-color: var(--accent);
        
        .bi-gear::before {
            transform: scale(1.3);
        }
        
    }
}

.button-log-out {
    color: var(--secondary);
    background-color: transparent;
}

h1 {
    font-size: clamp(1rem, 3vw, 2rem);
}
