.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.main_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
    background-color: rgba(144, 147, 159, 0.1);
    padding: 1.2rem;
}

[class^='button'] {
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
    border: none;
    border-radius: 0.3rem;
}

.title {
    font-size: 1.2rem;
}

.button-add {
    background-color: var(--secondary);
    color: var(--primary);

    .bi {
        margin-left: 0.4rem;

        &::before {
            transition: 0.2s ease;
            transition-property: transform, color;
        }
    }

    &:hover .bi::before {
        transform: scale(1.6);
        color: var(--accent);
    }
}

[class="button-add disabled"] {
    position: relative;
    cursor: not-allowed;
    transition: none;

    &:hover {
        transform: none;

        .bi::before {
            transition: none;
            transform: none;
            color: var(--primary);
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--primary);
        opacity: .3
    }
}

.button-test {
    border: 0.15rem solid var(--accent);
    background-color: var(--primary);
    color: var(--accent);
    font-weight: 500;

    transition: 0.2s ease;
    transition-property: transform, background-color, color;

    &:hover {
        transform: scale(1.1);
        background-color: var(--accent);
        color: var(--primary);
    }
}