
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 10px;
}

/* .header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    & .clear_form_button {
        width: max-content;
        cursor: pointer;
        font-size: 16px;
        background-color: var(--accent3);
        color: var(--secondary);
    
        border: none;
        outline: none;

        &:hover i {
            color: var(--accent);
        }
    }

} */

.title {
    color: var(--accent);
    font-size: 20px;
}


.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subForm {
    /* width: 100%; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.label, .multiselect_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input, select, button {
    width: 100%;
    border: none;
    outline: none;
    color: var(--secondary);
    border-radius: 5px;
    padding: 4px 8px;
}

button {
    margin-top: 20px;
    background-color: var(--accent);

    &:hover {
        transform: scale(105%);
    }
}
