<!-- <p>filters works!</p> -->

<div class="container">
    
    <header class="header">

        <!-- <button class="button clear_form_button " (click)="form.reset()" >
            Clear Filters
            <i class="bi bi-arrow-counterclockwise"></i>
        </button> -->
        <h5 class="title"> Filters </h5>
        <!-- <form [formGroup]="activeForm">
            <nz-switch 
                [nzCheckedChildren]="'Active'" 
                [nzUnCheckedChildren]="'Not active'" 
                [formControlName]="'activeFilters'" 
                class="active_filters" 
                (click)="changeActiveFilters()"
            ></nz-switch>
        </form> -->
        
    </header>
    
    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
        @for (item of filterFormFields; track item.key) {
            @if (item.type === 'multiselect') {
                <div class="multiselect_div">
                    <span>{{item.label}}</span>
                    <nz-select
                        class="select"
                        nzMode="multiple"
                        [nzPlaceHolder]="item.placeholder ?? ''"
                        [formControlName]="item.key"
                    >
                        @for (item of item.selectOptions; track item) {
                            <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                        }
                    </nz-select>
                </div>
            } @else {
                <label class="label">
                    <span>{{item.label}}</span>
                    <input 
                        [type]="item.type" 
                        class="input" 
                        [placeholder]="item.placeholder" 
                        [formControlName]="item.key" 
                    >
                </label>
            }
        }
        <button type="submit" title="Apply Filter" class="button submit_button">
            Filter
        </button>
    </form>

</div>
