<!-- <p>profile works!</p> -->

@if (user) {
<form [formGroup]="form" (ngSubmit)="submit()" class="form profile">
    <header class="header">
        <div class="div info">
            <picture class="picture">
                <img class="picture-img" src="images/auth/sign-up.webp" alt="profile">
            </picture>
            <div class="div texts">
                <h5 class="h5">{{ user.names }} {{ user.lastnames }}</h5>
                <h6 class="h6">{{ user.role?.name }} | {{ user.role?.description }}</h6>
            </div>
        </div>

        <button class="button submit" type="submit">{{ en ? 'Update Profile' : 'Actualizar Perfil' }}</button>
    </header>

    <div class="div content">

        <fieldset class="fieldset">
            <label class="label">
                <span class="span">{{ en ? 'Names' : 'Nombres' }}</span>
                <input class="input" formControlName="names" type="text"
                    placeholder="{{ en ? 'Enter your names' : 'Ingrese sus nombres' }}">
            </label>
            <label class="label">
                <span class="span">{{ en ? 'Last Names' : 'Apellidos' }}</span>
                <input class="input" formControlName="lastnames" type="text"
                    placeholder="{{ en ? 'Enter your last names' : 'Ingrese sus apellidos' }}">
            </label>
            <label class="label">
                <span class="span">{{ en ? 'Gender' : 'Género' }}</span>
                <select class="input" formControlName="gender">
                    <option value="">{{ en ? 'Select your gender' : 'Seleccione su género' }}</option>
                    <option value="male">{{ en ? 'Male' : 'Masculino' }}</option>
                    <option value="female">{{ en ? 'Female' : 'Femenino' }}</option>
                    <option value="other">{{ en ? 'Other' : 'Otro' }}</option>
                </select>
            </label>
        </fieldset>

        <fieldset class="fieldset">
            <label class="label">
                <span class="span">{{ en ? 'Email' : 'Correo Electrónico' }}</span>
                <input class="input" formControlName="email" type="email"
                    placeholder="{{ en ? 'Enter your email' : 'Ingrese su correo electrónico' }}">
            </label>
            <label class="label" (click)="visible = true">
                <span class="span">{{ en ? 'Age' : 'Edad' }}</span>
                <div class="div date">
                    <!-- <input type="date" name="" id=""> -->
                    <button class="button calendar" [title]="en ? 'select' : 'Seleccionar'" nz-popover
                        [nzPopoverTitle]="en ? 'Select Date' : 'Seleccionar Fecha'" [(nzPopoverVisible)]="visible"
                        nzPopoverTrigger="click" [nzPopoverContent]="contentTemplate">
                        <nz-icon nzType="calendar" nzTheme="outline" />
                    </button>
                    <ng-template #contentTemplate>
                        <!-- (nzSelectChange)="onValueChange($event)"
                            (nzPanelChange)="onPanelChange($event)" -->
                        <div class="div calendar">
                            <nz-calendar [nzFullscreen]="false" formControlName="age" nz />
                        </div>

                    </ng-template>
                    <input class="input calendar" formControlName="age" type="number" min="0"
                        placeholder="{{ en ? 'Enter your age' : 'Ingrese su edad' }}">
                </div>
            </label>
            <label class="label">
                <span class="span">{{ en ? 'Role' : 'Rol' }}</span>
                <select class="input" formControlName="role">
                    <option value="">{{ en ? 'Select your role' : 'Seleccione su rol' }}</option>
                    <!-- <option value="admin">{{ en ? 'Admin' : 'Administrador' }}</option> -->
                    <option value="user">{{ en ? 'Student' : 'Estudiante' }}</option>
                    <option value="user">{{ en ? 'Teacher' : 'Docente' }}</option>
                </select>
            </label>
        </fieldset>
    </div>

    <footer class="footer">
        <button class="button submit" type="submit">{{ en ? 'Update Profile' : 'Actualizar Perfil' }}</button>
    </footer>
</form>
}