.main {
    height: calc(100% - 92px);
    width: 100%;
}

.main_contianer {
    height: 100%;
    /* width: 100%; */
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.content_section {
    height: 100%;
    display: flex;

    &:has([class^="nav"]:hover) .content {
        filter: blur(1.5px);
        opacity: .6;
    }
}

.nav-show {
    position: fixed;
    height: 100%;
    left: 0;
    z-index: 1;

    transform: translateX(0);
    transition: .1s ease allow-discrete;
    transition-property: transform, display;
    transform-origin: left;
    /* display: auto; */

    @starting-style {
        /* display: none; */
        /* transform: scale(0, 1); */
        transform: translateX(-100%);
    }
}

.nav {
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 1;

    transition: .1s ease allow-discrete;
    transition-property: transform, display;
    transform-origin: left;
    transform: translateX(-100%);
    display: none;
}

.content {
    height: max-content;
    min-height: 100%;
    width: 100%;
    padding: 1.5rem;

    position: relative;

    transition-duration: .2s;
    transition-property: filter, opacity;

    &.hide {
        filter: blur(1px);
        opacity: .8;
    }
}