
.main {
    height: calc(100% - 92px);
    width: 100%;
}

.main_contianer {
    height: 100%;
    /* width: 100%; */
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.content_section {
    height: 100%;
    display: flex;
}

.nav-show {
    position: fixed;
    height: 100%;
    left: 0;
    z-index: 1;
    
    transform: scale(1);
    transition: .1s ease allow-discrete;
    transition-property: transform, display;
    transform-origin: left;
    /* display: auto; */

    @starting-style {
        /* display: none; */
        transform: scale(0, 1);
    }
}

.nav {
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 1;
    
    transition: .1s ease allow-discrete;
    transition-property: transform, display;
    transform-origin: left;
    transform: scale(0, 1);
    display: none;
}

.content {
    height: 100%;
    width: 100%;
}
