.reviews-container {
    background-color: rgba(243, 244, 238, 0.2);
    /* height: 100vh; */
    padding: var(--padding-section);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* .header-reviews {
    text-align: center;

    .h4-section-title-reviews {
        font-size: clamp(1rem, 3vw, 2.7rem);
        font-weight: 600;
        margin-bottom: clamp(.7rem, 1.5vw, 1rem);
    }

    .p-header-reviews {
        margin: auto;
        font-size: clamp(.7rem, 1.5vw, 1.3rem);
        width: 50rem;
        max-width: 100%;
    }
} */

.cards-reviews {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    gap: 1.7rem;

    .card-review {
        width: 100%;
        background-color: rgba(243, 244, 238, 0.4);
        border: var(--border);
        border-radius: .7rem;
        padding: 1.5rem 2rem;
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-shadow: 0 .25rem .4rem -.2rem rgba(0, 0, 0, 0.2);

        .stars-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            align-items: center;
            gap: .2rem;

            .star-card {
                height: 1.3rem;
                aspect-ratio: 1/1;
                background-image: url(/icons/star-icon.svg);
                background-size: 150%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        .p-card {
            font-size: 1rem;
        }

        .user-card {
            display: flex;
            align-items: center;
            gap: .5rem;

            .span-user-card {
                background-color: var(--secondary);
                height: 100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
                color: var(--primary);
                font-size: 1.1rem;

                text-align: center;
                align-content: center;

            }

            [class^="strong"] {
                font-size: 1rem;
                font-weight: 500;
            }

            [class^="p"] {
                font-size: .9rem;
            }
        }

        &:nth-child(2) .user-card .span-user-card {
            background-color: var(--accent);
        }
    }
}

@supports (animation-timeline: auto) {

    .cards-reviews .card-review {
        animation-name: from-bottom;

        .stars-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            align-items: center;
            gap: .2rem;

            .star-card {
                height: 1.3rem;
                aspect-ratio: 1/1;
                background-image: url(/icons/star-icon.svg);
                background-size: 150%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        .p-card {
            font-size: 1rem;
        }

        .user-card {
            display: flex;
            align-items: center;
            gap: .5rem;

            .span-user-card {
                background-color: var(--secondary);
                height: 100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
                color: var(--primary);
                font-size: 1.1rem;

                text-align: center;
                align-content: center;

            }

            [class^="strong"] {
                font-size: 1rem;
                font-weight: 500;
            }

            [class^="p"] {
                font-size: .9rem;
            }
        }

        &:nth-child(2) {
            animation-name: from-top;

            .user-card .span-user-card {
                background-color: var(--accent);
            }
        }

        &:last-child {
            animation-name: from-right;
        }
    }

}