
.nav_container {
    height: 100%;
    /* background-color: var(--secondary); */
    width: 171.38px;
}

.ul {
    height: 100%;
    padding: 10px;
    list-style: none;
    /* background-color: var(--secondary); */
    background-color: var(--secondary);
    color: var(--primary);
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
    position: fixed;
}

.li {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: max-content;

    transition: .2s transform ease;


    &:hover {
        transform: scale(1.1);
    }
}

.active {
    color: var(--accent);
}
