.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  justify-content: center;
}

.form {
  width: 100%;
}

.treeSelect {
  width: 100%;
}

.div-list {
  width: 100%;
}

.button {
  font-size: 16px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent);
  color: var(--secondary);
}