.main,
.main_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.main_header {
    flex-direction: row;
    padding: 2.5vw;
    position: relative;

    .span-test_lenght {
        position: fixed;
        top: 6lh;
        right: 2.5vw;
        background-color: var(--secondary);
        color: var(--accent);
        padding: .5rem .7rem;
        border-radius: .5rem;
        font-weight: 700;
    }
}

.back_btn {
    font-size: 16px;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--primary);
}

.numberOfEtp_span {
    font-size: 15px;
    font-weight: 600;
    background-color: var(--secondary);
    color: var(--accent);
    border-radius: 5px;
    padding: 0 5px;
}

.form-container {
    width: 100%;
}