<!-- <p>test works!</p> -->

<main class="main">
  <header class="main_header">
    <button class="btn back_btn" (click)="backToAction()">
      <i class="bi bi-arrow-bar-left"></i>
      Volver
    </button>

    @if (url.endsWith('test')) {
    <span class="span-test_lenght" [title]=" en ? 'Remaining elements' : 'Elementos restantes' "> {{ practiceList.length
      }} </span>
    }
  </header>
  <div class="form-container">
    <app-form [formLabel]="formLabel" (etpEmitter)="submit($event)"></app-form>
  </div>
</main>