<!-- <p>test works!</p> -->

<main class="main">
  <header class="main_header">
    <button class="btn back_btn" (click)="backToAction()">
      <i class="bi bi-arrow-bar-left"></i>
      Volver
    </button>

    @if (url.endsWith('test')) {
    <span class="span-test_lenght" [title]=" en ? 'Remaining elements' : 'Elementos restantes' "> {{ practiceList.length
      }} </span>
    }
  </header>
  <div class="form-container">
    <app-form [formLabel]="formLabel" (etpEmitter)="submit($event)"></app-form>
    <!-- <button class="button-gif" type="button" (click)="loadGifs()"
      style=" border: none; outline: none; border-radius: .5rem; padding: .5rem .7rem; background-color: var(--secondary); color: var(--primary); ">
      Gifs
    </button>

    <ol class="ol-gifs">
      @for (gif of gifs; track $index) {
      <li class="li-gif">
        <span>{{ gif.images.fixed_height.url }}</span>
        <img [src]="gif.images.fixed_height.url" alt="gif" class="img-gif" height="50px" width="50px">
        }
    </ol> -->
  </div>
</main>