
.home-container {
    background-color: rgba(243, 244, 238, 0.8);
    height: calc(90vh - 48.38px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    padding-bottom: 10rem;
}

.h3-home {
    font-size: clamp(1.2rem, 4.5vw, 4rem);
    font-weight: 700;
    width: 60rem;
    max-width: 100%;
    text-align: center;
    line-height: clamp( 1.3rem, 5vw, 4.5rem);

    .span-h3-home {
        color: var(--accent);
    }
}

.p-home {
    width: 48rem;
    max-width: 100%;
    text-align: center;
    font-size: clamp(.85rem, 1.5vw, 1.2rem);
}

.actions-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem 2rem;
    width: 100%;

    .button-home {
        outline: none;
        border: none;
        padding: clamp(.1rem, .4vw, .3rem) clamp(.3rem, 1.2vw, 1rem);
        /* border-radius: .1rem rgba(0, 0, 0, 0.4) solid; */
        border-radius: .3rem;
        cursor: pointer;
        font-size: clamp(.7rem, 1.5vw, 1.1rem);
        color: var(--primary);
        background-color: var(--secondary);
        font-weight: 600;
        
        transition: .2s, ease-in;
        transition-property: color, background-color, border-color;
        display: flex;
        align-items: center;
        gap: 1rem;

        .bi {
            font-size: clamp(.9rem, 1.7vw, 1.5rem);
        }
        
        &:last-child {
            background-color: var(--primary);
            color: var(--secondary);
            border: .1rem rgba(0, 0, 0, 0.2) solid;
        }
        
        &:hover {
            background-color: var(--accent);
            color: var(--primary);
            border-color: var(--accent);
        }
    }
}

.span-home-footer {
    transform: translateY(-50%);
}
