<!-- <p>home works!</p> -->

<div class="home-container">
    <h3 class="h3-home">Master English Vocabulary with <span class="span-h3-home">Interactive Learning</span></h3>
    <p class="p-home"> Build your English vocabulary through engaging games, personalized quizzes, and proven learning techniques. Track your progress and achieve fluency faster than ever before. </p>
    <div class="actions-home">
        <button class="button-home">Start Learning Free <i class="bi bi-arrow-right-short"></i> </button>
        <button class="button-home"><i class="bi bi-caret-right"></i> Watch Demo </button>
    </div>
    <span class="span-home-footer">No credit card required • 7-day free trial</span>
</div>
