<!-- <p>dashboard works!</p> -->

<main class="main dashboard">
    <div class="div progressObjective">
        <div class="div progress">
            <div class="div boxes">
                <div class="div box elements">
                    <header class="header">
                        <div class="div avatar">
                            <!-- <span class="icon-span"></span> -->
                            <i class="bi bi-translate"></i>
                        </div>
                        <div class="div info">
                            <!-- <i class="bi bi-info"></i> -->
                            <nz-icon class="nz-icon info" nz-popover nzType="primary" [nzPopoverTitle]=" en ?
                                    'Here you can check the elements you have memorized.' :
                                    'Aquí puedes revisar los elementos que has memorizado.'
                                " [nzPopoverContent]="elementInfoPopoverContent" nzType="question-circle"
                                nzTheme="outline" />
                            <ng-template #elementInfoPopoverContent>
                                <div class="div elementInfoPopoverContent">
                                    <span class="span">
                                        {{ en ?
                                        'Please remember you need to review at least 20 times an element to master it.'
                                        :
                                        `Por favor, recuerda que necesitas repasar al menos 20 veces un elemento para
                                        dominarlo.`
                                        }}
                                    </span>
                                </div>
                            </ng-template>
                        </div>
                    </header>
                    <span class="span label"> {{ en ? 'Elements memorized' :'Elementos memorizados' }} </span>
                    <div class="div numbers">
                        <!-- <strong class="data">{{ reports.etps.today.length }}</strong> -->
                        <strong class="strong data">{{ etpsNumber }}</strong>
                        @if ( correctEtps.length > 0 ) {
                        <div class="div content {{ elementsVisible ? 'visible' : ''}}" nz-popover nzType="primary"
                            [nzPopoverTitle]="en ?
                                        'These are the elements you have memorized.' :
                                        `Estos son los elementos que has memorizado.`"
                            [nzPopoverContent]="elementPopoverContent" [(nzPopoverVisible)]="elementsVisible"
                            nzPopoverTrigger="click">
                            <nz-icon class="nz-icon eye" nzType="eye" nzTheme="outline" />
                            <ng-template #elementPopoverContent>
                                <div class="div popoverContent">
                                    <!-- <h6 class="h6 title"> {{ en ?
                                        'These are the elements you have memorized.' :
                                        `Estos son los elementos que has memorizado.`
                                        }} </h6> -->
                                    @if ( correctEtps.length > 1 ) {
                                    <span class="span amount">{{ correctEtps.length }} {{ en ? 'elements' : 'elementos'
                                        }}</span>
                                    }
                                    <div class="div table-container">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>{{ en ? 'Element' : 'Elemento' }}</th>
                                                    <th>{{ en ? 'Reviews' : 'Repasos' }}</th>
                                                    <th>{{ en ? 'Mastered' : 'Dominado' }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (item of correctEtps; track $index) {
                                                <tr>
                                                    <td>{{ item.en }}</td>
                                                    <td>{{ item.number * 20 | number: '0.0-1' }}</td>
                                                    <td>{{ ((item.number * 20) * 100) / 20 | number:'0.0-1' }}%</td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                        }
                    </div>
                </div>
                <div class="div box lists">
                    <header class="header">
                        <div class="div avatar">
                            <i class="bi bi-list-check"></i>
                        </div>
                        <div class="div info">
                            <nz-icon class="nz-icon info" nz-popover nzType="primary" [nzPopoverTitle]=" en ?
                                    'Here you can check the practice lists you have mastered.' :
                                    'Aquí puedes revisar las listas que has dominado.'
                                " [nzPopoverContent]="listInfoPopoverContent" nzType="question-circle"
                                nzTheme="outline" />
                            <ng-template #listInfoPopoverContent>
                                <div class="div listInfoPopoverContent">
                                    <span class="span">
                                        {{ en ?
                                        'Please remember you need to review at least 20 times a list to master it.'
                                        :
                                        `Por favor, recuerda que necesitas repasar al menos 20 veces una lista para
                                        dominarla.`
                                        }}
                                    </span>
                                </div>
                            </ng-template>
                        </div>
                    </header>
                    <span class="span label"> {{ en ? 'List Reviewed' : 'Listas Repasadas' }} </span>
                    <div class="div numbers">
                        <!-- <strong class="data">{{ reports.etps.today.length }}</strong> -->
                        <strong class="strong data">{{ lists.length }}</strong>
                        @if ( lists.length > 0 ) {
                        <div class="div content {{ listsVisible ? 'visible' : ''}}" nz-popover nzType="primary"
                            [nzPopoverContent]="listPopoverContent" [(nzPopoverVisible)]="listsVisible"
                            nzPopoverTrigger="click">
                            <nz-icon class="nz-icon eye" nzType="eye" nzTheme="outline" />
                            <ng-template #listPopoverContent>
                                <div class="div popoverContent">
                                    <h6 class="h6 title"> {{ en ?
                                        'These are the lists you have mastered.' :
                                        `Estas son las listas que has dominado.`
                                        }} </h6>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>{{ en ? 'List' : 'Lista' }}</th>
                                                <th>{{ en ? 'Reviews' : 'Repasos' }}</th>
                                                <th>{{ en ? 'Mastered' : 'Dominada' }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (item of lists; track $index) {
                                            <tr>
                                                <td>{{ en ? item.reference.title.en : item.reference.title.es }}</td>
                                                <td>{{ item.number }}</td>
                                                <td>{{ (item.number * 100) / 20 | number:'0.0-1' }}%</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </div>
                        }
                    </div>
                </div>
            </div>
            <section class="section chart">
                <header class="header">
                    <h4 class="h4 title"> {{ en ? 'Weekly Reviews' : 'Repasos Semanales' }} </h4>
                    <div class="div buttons">
                        @if ( !chartVisible ) {
                        <div class="div info">
                            <nz-icon class="nz-icon info" nz-popover nzType="primary" [nzPopoverTitle]=" en ?
                                        'Here you can check your weekly review progress.' :
                                        'Aquí puedes revisar tu progreso de repasos semanales.'
                                    " [nzPopoverContent]="chartInfoPopoverContent" nzType="question-circle"
                                [(nzPopoverVisible)]="chartInfoVisible" nzTheme="outline" />
                        </div>
                        }
                        <ng-template #chartInfoPopoverContent>
                            <div class="div chartInfoPopoverContent">
                                <span class="span">
                                    {{ en ?
                                    `This chart shows the number of reviews you've done each week. Use the visualization
                                    options to change the type of chart.` :
                                    `Este gráfico muestra la cantidad de repasos que has hecho cada semana. Usa las
                                    opciones para cambiar el tipo de grafico.`
                                    }}
                                </span>
                            </div>
                        </ng-template>
                        @if ( tests.length > 0 ) {
                        <!-- nzPopoverTrigger="click" (click)="randomize()"></i> -->
                        <i class="bi bi-three-dots-vertical {{ chartVisible ? 'visible' : ''}}" nz-popover
                            nzType="primary"
                            [nzPopoverTitle]=" en ? 'Visualization options' : 'Opciones de visualización' "
                            [nzPopoverContent]="chartPopoverContent" [(nzPopoverVisible)]="chartVisible"
                            nzPopoverTrigger="click"></i>
                        <ng-template #chartPopoverContent>
                            <div class="div chartPopoverContent">
                                <button class="button option {{ barChartType === 'bar' ? 'active' : '' }}" type="button"
                                    (click)="barChartType = 'bar'">
                                    {{ en ? 'Bar chart' : 'Gráfico de barras' }}
                                </button>
                                <button class="button option {{ barChartType === 'line' ? 'active' : '' }}"
                                    type="button" (click)="barChartType = 'line'">
                                    {{ en ? 'Line chart' : 'Gráfico de lineas' }}
                                </button>
                            </div>
                        </ng-template>
                        }
                    </div>
                </header>
                <div class="div chart">

                    <div class="div canvas-container">
                        <!-- [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"> -->
                        <canvas class="canvas chart" baseChart [data]="barChartData" [options]="barChartOptions2"
                            [type]="barChartType">
                        </canvas>
                        <!-- [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"> -->
                        <canvas class="canvas chart" baseChart [data]="barChartData" [options]="barChartOptions"
                            [type]="barChartType">
                        </canvas>
                    </div>

                    <div class="div options">

                        <h6 class="h6 yearMonth">
                            {{ mothYear }}
                        </h6>

                        <nz-pagination [nzPageIndex]=" weeks.length > 0 ? weeks.length : 0 " [nzHideOnSinglePage]="true"
                            [nzTotal]="weeks.length" [nzPageSize]="1" [nzResponsive]="true"
                            (nzPageIndexChange)=" actualWeekIndex = $event - 1; refreshChart()" nzShowQuickJumper />

                    </div>
                </div>
            </section>
        </div>
        <div class="div objective">
            <div class="div card">
                <header class="header">
                    <h5 class="h5 title"> {{ en ? 'Monthly Target' : 'Objetivo Mensual' }} </h5>
                    <h6 class="h6 subtitle">
                        {{
                        en ?
                        'Target you have set for each month' :
                        'Objetivo que has establecido para cada mes'
                        }}
                    </h6>
                </header>
                <div class="div arc-container" style="--progress: {{ monthlyProgress }}">
                    <svg viewBox="0 0 200 100" class="svg arc">
                        <!-- Arco de fondo -->
                        <path class="path arc-bg" d="M10,95 A90,90 0 0,1 190,95" />
                        <!-- Arco de progreso -->
                        <path class="path arc-progress" d="M10,95 A90,90 0 0,1 190,95" />
                    </svg>
                    <span class="span arc-text">{{ monthlyProgress | number}}%</span>
                </div>
                <div class="div data">
                    <p class="p">
                        {{ en ? 'You have reached the' : 'Has alcanzado el' }}
                        <span class="percentage-number"> {{ monthlyProgress }}% </span>
                        {{ en ? 'of your monthly target.' : 'de tu objetivo mensual.'}}
                    </p>
                    <div class="div items">
                        <span class="span item">
                            <span class="span number">
                                {{ etpsTarget }}
                            </span>
                            {{ en ? 'Elements To Memorize' : 'Elementos a memorizar' }}
                        </span>
                        <div class="div line"></div>
                        <span class="span item">
                            <span class="span number">
                                {{ practiceListsTarget }}
                            </span>
                            {{ en ? 'Practice Lists' : 'Listas de práctica' }}
                        </span>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <h5 class="h5 title"> {{ en ? 'Daily Target' : 'Objetivo Diario' }} </h5>
                <div class="div items">
                    <div class="div item elements">
                        <span class="span label"> {{ en ? 'Elements' : 'Elementos' }} </span>
                        <span class="span data"> {{ dailyEtpsTarget }} <i class="bi bi-arrow-up"></i>
                        </span>
                    </div>
                    <div class="div item lists">
                        <span class="span label"> {{ en ? 'Lists' : 'Listas' }} </span>
                        <span class="span data"> {{ dailyPLTarget }} <i class="bi bi-arrow-up"></i> </span>
                    </div>
                    <div class="div item total">
                        <span class="span label"> Total </span>
                        <span class="span data"> {{ dailyEtpsTarget + dailyPLTarget }}
                            <i class="bi bi-arrow-up"></i> </span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div class="div box difficult-words"
        [title]="en ? 'Words you have struggled with this week.' : 'Palabras con las que has tenido dificultades esta semana.'">
        <h6 class="h6 title"> {{ en ? 'Difficult Words' : 'Palabras Difíciles' }} </h6>
        <div class="div weekness">
            @if (mistakenEtps.length > 0) {
            @for (item of mistakenEtps; track $index) {
            <div class="div info {{ ($index + 1) % 2 === 0 ? 'pair' : ''}}">
                <span class="span word"> {{ ($index + 1) }} - {{ item.en }}</span>
                <span class="span errors"> {{ en ? 'Errors' : 'Errores' }}: <span class="span number"> {{ item.number }}
                    </span> </span>
            </div>
            }
            } @else {
            <p class="p"> {{ en ? 'No difficult words to work!' : '¡No hay palabras difíciles por trabajar!' }} </p>
            }
        </div>
    </div>
    <div class="div boxes">
        <div class="div box recent-activities"
            [title]="en ? 'Your recent activity in the app.' : 'Tu actividad reciente en la aplicación.'">
            <h6 class="title"> {{ en ? 'Recent Activity' : 'Actividad Reciente' }} </h6>
            <div class="div items activity">
                @if ( tests.length > 0 ) {
                <span class="span item"> {{ en ? 'Completed Tests' : 'Pruebas Completadas' }} <span class="span number">
                        {{ completedTestsPercentage | number:'0.0-1' }}% </span> </span>
                <span class="span item">
                    {{ en ? 'Practiced' : 'Practicadas' }}
                    <span class="span number"> {{ 10 }} </span>
                    <span> {{ en ? 'Elements' : 'Elementos' }} </span>
                </span>
                } @else {
                <span class="span item empty">
                    {{ en ? 'Theres no recent activity to show' : 'No hay actividad reciente para mostrar' }}
                </span>
                }
            </div>
        </div>
        <div class="div box recomendations-container" [title]="en ? 
                `Based on your progress, we recommend focusing on these areas.` :
                `Basado en tu progreso, te recomendamos enfocarte en estas áreas.`">
            <h6 class="title"> {{ en ? 'Recommendations' : 'Recomendaciones' }} </h6>
            <div class="div items recomendations">
                @if (tests.length > 0) {
                <span class="span item"> {{ en ? 'Practice difficult words' : 'Practica las palabras difíciles' }}
                </span>
                <span class="span item"> {{ en ? 'Practice pronunciation' : 'Practica la pronunciación' }} </span>
                } @else {
                <span class="span item empty">
                    {{ en ? 'Theres no recommendations to show' : 'No hay recomendaciones para mostrar' }}
                </span>
                }
            </div>
        </div>
    </div>
</main>