.main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.div.progressObjective,
.div.boxes {
    display: grid;
    grid-template-columns: minmax(min(100%, 200px), 1fr) minmax(min(100%, 200px), 40%);
    gap: 1.5rem;
}

.div.boxes {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
    margin-bottom: 1.5rem;
}

.div.box {
    display: flex;
    flex-direction: column;
    gap: clamp(.7rem, 2dvw, 1rem);
    font-size: 1rem;

    h6.title {
        font-size: 1rem;
        font-weight: 600;
    }

    .div.weekness {
        display: flex;
        flex-direction: column;
        /* gap: .5rem; */
        max-height: 5lh;
        overflow: auto;

        .div.info {
            display: flex;
            justify-content: space-between;
            gap: .5rem;
            padding: .25rem 0;

            transition: .2s ease;
            transition-property: background-color, padding;

            .span.errors {
                /* color: var(--accent3);
                font-size: .9rem; */

                .span.number {
                    font-size: 1rem;
                    font-weight: 600;
                    color: var(--error-color);
                    /* opacity: .9; */
                }
            }

            &:hover {
                background-color: var(--primary);
                padding: .25rem;
            }
        }
    }

    .div.items {
        display: flex;
        flex-direction: column;
        /* gap: .5rem; */

        .span.item {
            display: flex;
            align-items: center;
            gap: .5rem;
            color: var(--secondary-bg2);
            font-size: .9rem;

            .span.number {
                font-size: 1rem;
                font-weight: 600;
                color: var(--secondary-bg2);
            }
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        /* gap: .5rem; */

        .div.icons {
            display: flex;
            justify-content: space-between;
            gap: .5rem;
        }

        .div.avatar {
            width: fit-content;
            background-color: var(--primary);
            border-radius: .7rem;
            padding: clamp(.38885rem, 4dvw, .5rem) clamp(.77rem, 4dvw, 1rem);
            font-size: clamp(1.165rem, 4dvw, 1.5rem);
            margin-bottom: clamp(.49rem, 4dvw, .7rem);

            transition: .2s background-color;

            .bi {
                transition: .2s color ease;
            }

            &:hover {
                background-color: var(--secondary-bg2);

                .bi {
                    color: var(--primary);
                }
            }
        }
    }

    .span.label {
        color: var(--accent3);
        font-size: .9rem;

        transition: .2s color ease;
    }

    .div.numbers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: .75rem;

        .strong.data {
            font-size: clamp(1.4rem, 4dvw, 2rem);

            transition: .2s ease;
            transition-property: transform, color;
        }

        .div.content {
            background-color: var(--secondary);
            color: var(--primary);
            border-radius: 50%;
            /* padding: .25rem .5rem; */
            padding: .5rem;
            cursor: pointer;

            display: flex;
            align-items: center;

            transition: .2s ease;
            transition-property: background-color, color, border-radius, transform;

            .nz-icon.eye {
                transition: .2s transform ease;
            }

            &:hover,
            &.visible {
                background-color: var(--accent);
                color: var(--primary);
                transform: scale(1.1);

                &.visible {
                    border-radius: .25rem;

                    .nz-icon.eye {
                        transform: scale(1.25);
                    }

                }
            }

        }
    }

    &:has(.nz-icon.info:hover) {
        /* background-color: var(--secondary-bg);

        .header .div.info .nz-icon {
            color: var(--primary);
            transform: translate(0) scale(1.1);
        } */

        .span.label {
            color: var(--primary);
        }

        .div.numbers .div.content {
            background-color: var(--primary);
            color: var(--secondary);
        }
    }

    &:has(.div.content:hover),
    &:has(.div.content.visible) {

        .header {
            .div.avatar {
                background-color: #2b2858;

                .bi {
                    color: var(--accent);
                }
            }

            .div.info .nz-icon {
                color: var(--accent3);
            }
        }

        .div.numbers .strong.data {
            color: var(--accent);
            transform: scale(1.1);
        }
    }

    &:has(.div.avatar:hover) {
        .div.numbers {
            .strong.data {
                color: var(--secondary-bg2);
            }

            .div.content {
                background-color: var(--secondary-bg2);
                color: var(--primary);
            }

        }

    }
}

.div.box,
.section.chart {

    transition: .2s ease;
    transition-property: background-color, color;

    .div.info {
        font-size: 1.75rem;
        display: flex;
        flex-direction: column;
    }

    .nz-icon.info {
        cursor: zoom-in;
        transform: translateX(100%);
        color: var(--secondary-bg2);
        opacity: 0;

        transition: .2s ease;
        transition-property: transform, opacity, color;
    }

    &:has(.nz-icon.info:hover) {
        background-color: var(--secondary-bg);

        .div.info .nz-icon {
            color: var(--primary);
            transform: translate(0) scale(1.1);
        }
    }

    &:hover {
        .nz-icon.info {
            transform: translate(0);
            opacity: 1;
        }
    }
}

.section.chart .nz-icon.info {
    transform: translateY(-100%);
}

.div.popoverContent {
    max-width: 90dvw;
    max-height: 80dvh;

    /* .h6.title {
        padding: .5rem;
        padding-top: 0;
        font-size: 1rem;
        margin-bottom: 1rem;
        border-bottom: .125rem solid var(--secondary);
    } */

    .span.amount {
        width: 100%;
        display: block;
        font-size: 1.2rem;
        font-weight: 600;
        background-color: var(--secondary);
        color: var(--accent);
        padding: .1rem .25rem;
        border-radius: .25rem;
        margin-bottom: .5rem;
        text-align: center;
    }

    table {
        width: 100%;
        max-height: 60vh;
        /* border-collapse: collapse; */
        position: relative;

        thead {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 10;
            background-color: var(--primary);
            color: var(--secondary);
            font-weight: 500;
        }

        th,
        td {
            padding: .5rem;
            max-width: fit-content;
            text-align: center;
            /* border: .1rem solid #d6d7dc; */
        }

        td:first-child {
            text-align: start;
        }

        tbody tr:hover {
            background-color: var(--secondary-bg);
            /* color: var(--primary); */
        }
    }

}

.box,
.section.chart,
.div.objective .div.card {
    border: .1rem solid #d6d7dc;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: #ffffff;

    .p.empty {
        width: fit-content;
        background-color: var(--primary);
        color: var(--secondary);
        border-radius: .25rem;
        padding: .25rem .5rem;
    }
}

.div.progress {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */

    .div.box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }
}

.section.chart {
    min-height: fit-content;
    max-width: 100%;
    flex: 1;

    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;

        .h4.title {
            font-weight: 600;
            color: var(--secondary);

            transition: .2s color ease;
        }

        .div.buttons {
            display: flex;
            gap: .5rem;

            .bi-three-dots-vertical {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.25rem;
                cursor: pointer;
                color: var(--accent3);
                border-radius: 50%;
                height: 2rem;
                aspect-ratio: 1/1;

                transition: .2s ease;
                transition-property: background-color, color, border-radius;

                &:hover {
                    background-color: var(--secondary);
                    color: var(--primary);
                }

                &.visible {
                    border-radius: .25rem;
                    background-color: var(--accent);
                    color: var(--primary);
                }
            }
        }

    }

    .div.chart .div.canvas-container {
        width: 100%;
        max-width: 100%;
        aspect-ratio: 3/1;

        overflow: auto;

        position: relative;

        transition: .2s background-color ease;

        .canvas.chart {
            min-width: max-content;
            max-width: 100%;
            min-height: max-content;
            max-height: 100%;

            position: absolute;
            offset: 0;

            transition: .2s opacity ease;

            &:first-child {
                opacity: 0;
            }
        }
    }

    .div.options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        .h6.yearMonth {
            font-size: clamp(.7rem, 1.5dvw, .9rem);
            color: var(--secondary-bg2);
        }
    }

    &:has(.nz-icon.info:hover) {
        background-color: var(--secondary);

        .header .h4.title {
            color: var(--primary);
        }

        .div.buttons .bi {
            color: var(--accent);
        }

        .div.chart .div.canvas-container .canvas.chart {
            opacity: 0;

            &:first-child {
                opacity: 1;
            }
        }

        .div.options {
            .h6.yearMonth {
                color: var(--accent);
            }
        }
    }

    &:has(.div.buttons .bi:hover) {
        .div.info .nz-icon.info {
            color: var(--accent3);
        }
    }
}

::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-item-link,
::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-item,
::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-item .ng-star-inserted,
::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-options input {
    background-color: transparent;

    color: var(--secondary-bg2);
    border-color: var(--secondary-bg2);

    transition: .2s ease;
    transition-property: transform, opacity;
}

::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-options {
    color: var(--secondary);
}

::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-item-link:hover,
::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-item:hover,
::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-item:hover .ng-star-inserted,
::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-item.ant-pagination-item-active,
::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-item.ant-pagination-item-active .ng-star-inserted {

    color: var(--accent);
    border-color: var(--accent);
}

::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-item-link:hover,
::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-item:hover,
::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-item:hover .ng-star-inserted {
    transform: scale(1.1);
}

::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-disabled .ant-pagination-item-link,
::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-disabled:hover .ant-pagination-item-link {

    color: var(--accent3);
    border-color: var(--accent3);

    opacity: .5;
    transform: none;

}

.main.dashboard:has(.section.chart .div.buttons .div.info .nz-icon.info:hover) {

    ::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-item-link,
    ::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-item:not(.ant-pagination-item-active) .ng-star-inserted,
    ::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-item:not(.ant-pagination-item-active),
    ::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-options input {
        color: var(--primary);
        border-color: var(--primary);
    }

    ::ng-deep .ant-pagination .ng-star-inserted .ant-pagination-options {
        color: var(--primary);
    }
}

div.chartPopoverContent {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* background-color: var(--secondary-bg); */

    .button.option {
        outline: none;
        border: none;
        font-size: 1.2rem;
        background-color: var(--primary);
        color: var(--secondary);
        padding: .25rem .5rem;
        width: 100%;
        text-align: center;
        /* padding: .5rem; */

        transition: .2s ease;
        transition-property: transform, background-color, color;

        &:hover {
            transform: none;
        }

        &.active {
            color: var(--accent);
        }
    }

    &:has(.button.option:hover) .button.option:not(:hover) {
        opacity: 0.5;
    }
}

.div.objective {
    border-radius: 1rem;
    background-color: #e9ebe0;
    border: .1rem solid #d6d7dc;
    height: fit-content;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .h5.title {
        font-size: clamp(.77rem, 4dvw, 1rem);
        font-weight: 600;
    }

    .h6.subtitle {
        /* font-size: clamp(.7rem, 1.5dvw, .9rem); */
        font-size: clamp(.6rem, 1.8dvw, .8rem);
        color: var(--accent3);
    }

    .p {
        text-align: center;
        color: var(--accent3);
        font-size: clamp(.62rem, 1.5dvw, .9rem);
        font-weight: 500;
    }

    .div.card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: none;
        border-bottom: .1rem solid #d6d7dc;

        .div.data {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .div.items {
                width: 100%;
                display: flex;
                justify-content: space-around;
                gap: .25rem;

                .span.item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    color: var(--accent3);
                    /* font-size: clamp(.612rem, 1.3dvw, .875rem); */
                    font-size: clamp(.58rem, 1.2dvw, .875rem);

                    .span.number {
                        font-size: clamp(.7rem, 2dvw, .95rem);
                        font-weight: 600;
                        color: var(--secondary-bg2);
                    }
                }

                .div.line {
                    width: .1rem;
                    min-height: 100%;
                    background-color: var(--accent3);
                }

            }
        }
    }

    .footer {
        width: 100%;
        /* display: flex;
        justify-content: space-around; */
        padding: 0 1.5rem;

        .h5.title {
            /* padding-left: 1.5rem; */
            color: var(--secondary);
            margin-bottom: 1rem;
            /* text-align: center; */
        }

        .div.items {
            display: flex;
            justify-content: space-around;
            gap: .5rem;
        }

        .div.item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
            padding: .5rem;

            transition-duration: .2s;
            transition-property: transform, border-radius, background-color;

            .span.label {
                color: var(--accent3);

                transition: .2s color;
            }

            .span.data {
                font-size: clamp(1rem, 2dvw, 1.5rem);
                font-weight: 600;
                /* padding: .5rem; */

                transition: .2s ease;
                transition-property: color;

                .bi {
                    font-size: 1.25rem;
                    color: var(--secondary-bg2);
                }
            }

            &:hover {
                transform: scale(1.1);
                background-color: var(--secondary);
                border-radius: .5rem;

                .span.label {
                    color: var(--accent);
                }

                .span.data {
                    color: var(--primary);

                    .bi {
                        color: var(--accent);
                    }
                }
            }
        }
    }
}

.div.arc-container {
    width: 100%;
    max-height: min(200px, 100%);
    text-align: center;
    position: relative;
    --progress: 0;
    /* porcentaje 0 - 100 */
}

/* SVG general */
.svg.arc {
    width: 100%;
    height: auto;
    max-height: 100%;
}

/* Arco de fondo */
.path.arc-bg {
    fill: none;
    /* stroke: #ddd; */
    stroke: var(--primary);
    stroke-width: 7;
    stroke-linecap: round;
    /* bordes redondeados */
}

/* Arco de progreso */
.path.arc-progress {
    fill: none;
    /* stroke: #4caf50; */
    stroke: var(--secondary);
    stroke-width: 7;
    stroke-linecap: round;
    /* bordes redondeados */
    stroke-dasharray: 283;
    /* longitud total aproximada del arco */
    stroke-dashoffset: calc(283 - (283 * var(--progress)) / 100);
    transition: stroke-dashoffset 0.6s ease;
}

/* Texto centrado debajo del arco */
.span.arc-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    font-weight: bold;
    font-size: clamp(1.5rem, 4dvw, 3rem);
    /* color: #333; */
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}


@media (max-width: 800px) {
    .div.progressObjective {
        grid-template-columns: 1fr;
    }

    .div.objective {

        .div.card {

            .header {
                .h5.title {
                    font-size: clamp(1rem, 5dvw, 1.4rem);
                }

                .h6.subtitle {
                    font-size: clamp(.8rem, 3dvw, 1rem);
                }

            }

            .div.data {
                .p {
                    font-size: clamp(.7rem, 3dvw, 1.2rem);
                }

                .div.items .span.item {
                    font-size: clamp(.7rem, 3dvw, 1rem);

                    .span.number {
                        font-size: clamp(.9rem, 3dvw, 1.2rem);
                    }
                }

            }
        }

        .footer {
            .h5.title {
                font-size: clamp(1rem, 5dvw, 1.4rem);
            }

            .div.item {

                .span.label {
                    font-size: clamp(.8rem, 4dvw, 1.25rem);
                }

                .span.data {
                    font-size: clamp(.8rem, 4dvw, 1.5rem);

                    .bi {
                        font-size: clamp(1rem, 4dvw, 1.25rem);
                    }
                }
            }
        }

    }

    .span.arc-text {
        font-size: clamp(1.4rem, 10dvw, 3rem);
    }
}