/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
    --font-family: "Poppins", sans-serif;

    /* --primary: #F8F5F6;
    --secondary: #242643;
    --accent: #966D55;
    --accent2: #86ABC8;
    --accent3: #30A2CD; */

    --primary: #f3f4ee;
    --secondary: #1a1835;
    --accent: #f9b41a;
    --accent2: #875c49;
    --accent3: #90939f;


    --secondary-bg: #aba7d7;


    /* error-color */
    --error-color: #ff4d50;
    /* --error-color-bg: rgba(255, 77, 80, 0.1); */
    --error-color-bg: #ffd3d3;

    scroll-behavior: smooth;

    --padding: 1vw 2.5vw;
    --padding-section: 5rem 2.5vw;
    --hh: calc(4vh + 1lh + .65rem);
}

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: var(--font-family);
    color: var(--secondary);
    background-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.btn,
[class^="button"] {
    cursor: pointer;
    transition: .2s transform ease;

    .bi::before {
        transition: .2s transform ease;
    }

    &:hover {
        transform: scale(1.1);

        .bi::before {
            transform: scale(1.5);
        }
    }
}

.btn-primary {
    --bs-btn-color: var(--primary);
    --bs-btn-bg: var(--secondary);
    --bs-btn-border-color: var(--secondary);
    --bs-btn-hover-color: var(--primary);
    --bs-btn-hover-bg: var(--accent);
    --bs-btn-hover-border-color: var(--accent);
}


.fieldset {
    width: 100%;
    /* text-align: end; */
    display: grid;
    gap: 1rem;

    transition: .2s ease-in;
    transition-property: gap, margin-bottom;

    --special-color: rgb(211, 212, 206);

    &:has(.invalid-icon) {
        gap: 1.5rem;
        margin-bottom: .5lh;
    }

    .input-box {

        position: relative;
        display: grid;
        gap: .2rem;

        transition: .15s transform ease;

        &:hover {
            transform: scale(100.5%);

            .input,
            .textarea,
            .ant-select-selector {
                border-color: #dad9e9;
            }
        }

        &:has(.invalid-icon) {

            .input,
            .textarea,
            .ant-select .ant-select-selector {
                border-color: var(--error-color-bg);
            }
        }

        &:has(.input:focus),
        &:has(.input:not(:placeholder-shown)),
        &:has(.textarea:focus),
        &:has(.textarea:not(:placeholder-shown)),
        &:has(.select),
        &:has(.ant-select-focused),
        &:has(.ant-tree-select-focused),
        &:has(.with-content) {
            .span-letter {
                border-bottom: .1rem var(--secondary);
                transform: translateY(-100%);
                color: var(--accent);
                z-index: 10;
            }
        }

        .bi-asterisk {
            position: absolute;
            top: -1lh;
            left: 0;
            width: fit-content;
            font-size: .6rem;
            color: var(--error-color);
        }

        .label-input {
            position: relative;
            width: 100%;

            .span-label-div {
                position: absolute;
                top: .6rem;
                /* bottom: .5rem; */
                left: .7rem;
                display: flex;
                justify-content: start;
                align-items: center;
                /* gap: .05rem; */
                color: #808080;
                cursor: text;
            }
        }

        &:has(.ant-select) .span-label-div {
            top: .9rem;

            .span-letter {
                z-index: 1;
            }
        }

        .select,
        .input,
        .textarea,
        .ant-select .ant-select-selector {
            width: 100%;
            border: .15rem solid var(--special-color);
            outline: none;
            border-radius: .5rem;
            padding: .5rem;
            /* background-color: var(--primary); */
            background-color: transparent;

            transition: .15s border-color ease;
        }

        .select,
        .ant-select-selector {
            cursor: pointer;

            .ant-select-selection-item {
                background-color: #d3d4d9;
                color: var(--secondary);
                padding: .2rem .5rem;
                box-sizing: content-box;
                border-radius: .3rem;
                display: flex;
                align-items: center;
                gap: .3rem;
                z-index: 1;

                transition-duration: .2s;
                transition-property: opacity, transform;

                &:hover {
                    transform: scale(1.05);
                }

                .ant-select-selection-item-remove {
                    color: #ff4d50;

                    transition-duration: .2s;
                    font-size: .8rem;
                    transition-property: transform, color;

                    &:hover {
                        transform: scale(1.5);
                        color: var(--error-color);
                    }
                }
            }

            &:has(.ant-select-selection-item:hover) {
                .ant-select-selection-item:not(:hover) {
                    opacity: .5;
                }
            }
        }

        .ant-select {
            width: 100%;
        }

        .ant-select-clear nz-icon {
            color: #ff4d50;
            transition: .2s transform;

            &:hover {
                transform: scale(1.5);
            }
        }

        .invalid-icon {
            color: var(--error-color);
            text-align: start;
            width: fit-content;
            position: absolute;
            right: .5rem;
            bottom: -1lh;
        }

        .multiselect-disabled .ant-select-selector {
            border-color: var(--accent);
        }

        &:has(.ant-tree-select) .span-letter {
            background-color: #ffffff;
        }

        &:has(.disabled),
        &:has(.multiselect-disabled) {

            transform: none;

            .span-label-div {
                cursor: not-allowed;

                .span-letter {
                    font-weight: 700;
                }
            }

            .disabled,
            .multiselect-disabled .ant-select-selector {
                opacity: 1;
                border: .2rem var(--accent) solid;
                color: var(--secondary);
                font-size: 1rem;
                font-weight: 700;
                cursor: not-allowed;

                .ant-select-selection-item {
                    background-color: var(--secondary);
                    color: var(--accent);
                    font-size: 1rem;
                    font-weight: 500;

                    &:hover {
                        transform: none;
                    }

                    .ant-select-selection-item-remove {
                        display: none;
                    }
                }
            }
        }
    }

    .subfieldset {
        border: .1rem solid var(--accent3);
        border-radius: .5rem;
        padding: 1rem;
        display: grid;
        gap: 1rem;

        transition-duration: .2s;
        transition-property: gap, padding-bottom;

        &:has(.invalid-icon) {
            gap: 1.5rem;
            padding-bottom: 1.5lh;
        }

        legend.legend {
            padding: 0 .5rem;
            font-size: 1.1rem;
            font-weight: 600;
            color: var(--secondary);
            width: fit-content;

            .accent {
                color: var(--accent);
            }
        }

        &:has(.subfieldset:hover) {
            .subfieldset {
                transition-duration: .2s;
                transition-property: transform, opacity, filter, border-color;

                &:not(:hover) {
                    opacity: .6;
                    filter: blur(.5px);
                }

                &:hover {
                    border-color: var(--secondary);
                    transform: scale(1.005);

                    .subfieldset {
                        opacity: 1;
                        filter: none;
                    }
                }
            }
        }
    }
}

.form {
    button[type="submit"] {
        margin: auto;
        padding: .5rem 1.5rem;
        border: none;
        border-radius: .5rem;
        background-color: var(--secondary);
        color: var(--primary);

        transition-duration: .2s;
        transition-property: background-color, color, transform;

        &:hover {
            background-color: var(--accent);
            color: var(--primary);
        }
    }
}

.table-container {
    /* min-width: 1800px; */
    width: 100%;
    overflow-x: auto;
    max-height: 70vh;

    .table {
        width: 100%;
        /* min-width: max-content; */
        max-width: 100%;
        position: relative;

        .thead {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 10;
            font-size: 1.1rem;
            background-color: var(--secondary);
            color: var(--primary);
        }

        .tbody {
            background-color: rgba(26, 24, 53, 0.1);
            font-weight: 500;

            .useName {
                /* color: var(--accent); */
                font-weight: 700;
            }
        }

        .tbody:hover .tr:not(:hover) {
            opacity: 75%;
        }

        .th {
            padding: 1.4rem;

            .button-filter {
                padding: 0;
                background-color: transparent;
                border: none;
                margin-left: .5lh;
                color: var(--primary);
                transition: .2s transform;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .td {
            padding: 10px;
            text-align: center;
        }

        .pair {
            background-color: rgba(26, 24, 53, 0.15);
        }

        .actions_td {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;

            .bi {
                cursor: pointer;
                font-size: 1rem;
                width: 25.14px;
                border-radius: 10%;

                transition: 0.1s ease-in;
                transition-property: color, background-color, border-radious, transform;

                &:not([class*="-disabled"]):hover {
                    transform: scale(1.1);
                    color: var(--accent);
                    background-color: var(--secondary);
                    border-radius: 20%;
                }
            }

            .bi-x-circle {
                color: var(--error-color);
            }

            [class*="-disabled"] {
                opacity: .7;
                position: relative;
                cursor: not-allowed;
            }
        }

        .empty {
            color: var(--accent3);
            font-weight: 700;
        }

        .null {
            /* color: var(--accent2); */
            font-weight: 700;
        }

        .empty-p,
        .loading-p {
            padding: 1.2rem;
            text-align: center;
            font-size: 1rem;
            background-color: rgba(26, 24, 53, 0.1);
        }
    }

}

@media (max-width: 900px) {
    .table-container .table {
        min-width: max-content;
    }
}

.paginator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

.itemListLength {
    font-weight: 600;
}

.div-state {
    background-color: var(--primary);
    border-radius: 1rem;
    padding: .2rem;
    width: fit-content;
    margin: auto;
}


.bi-eye,
.bi-eye-slash {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .5rem;
    cursor: pointer;
    font-size: 1rem;
    color: var(--accent);

}

.span-letter {
    font-size: clamp(.4rem, 4vw, .9rem);
    transition: .2s ease;
    transition-property: transform, color;
    background-color: var(--primary);
    padding: .0 .05rem;
    transition-delay: calc(var(--i) * 50ms);
    position: relative;
}


.ant-switch {
    background-color: transparent;
    border: .1rem solid var(--secondary);
    box-shadow: none;

    height: 1.1lh;

    transition: .2s ease;
    transition-property: background-color, border-color;

    span {
        color: var(--secondary);
        font-size: .8rem;
        font-weight: 600;
        transition: .2s color ease;
    }

    .ant-switch-handle::before {
        background-color: var(--secondary);
    }

    &:hover {
        border-color: var(--accent);

        span {
            color: var(--accent);
        }

        .ant-switch-handle::before {
            background-color: var(--accent);
        }

    }
}


.ant-switch-checked {
    background-color: var(--secondary);
    /* border-color: var(--accent); */

    span {
        color: var(--primary);
        font-size: .9rem;
        font-weight: 500;
    }

    .ant-switch-handle::before {
        background-color: var(--primary);
    }

    &:hover {
        background-color: var(--accent);

        span {
            color: var(--primary);
        }

        .ant-switch-handle::before {
            background-color: var(--primary);
        }
    }
}


.irregular-label:has(.ant-switch-disabled) {

    font-weight: 600;

    .ant-switch-disabled {
        opacity: 1;
        border: .1rem solid var(--accent);
        background-color: var(--secondary);

        span {
            color: var(--accent);
            font-size: .9rem;
        }

        .ant-switch-handle::before {
            background-color: var(--accent);
        }
    }
}

.main-landing-page [class^="header-"] {

    text-align: center;
    max-width: 100%;

    [class^="h4-section-title-"] {

        font-size: clamp(1.3rem, 3vw, 2.7rem);
        font-weight: 600;
        margin-bottom: clamp(.7rem, 1.5vw, 1rem);

        &+[class^="p-header-"] {

            margin: auto;
            font-size: clamp(.85rem, 1.5vw, 1.3rem);
            width: 50rem;
            max-width: 100%;

        }
    }
}

select.form-select {
    outline: none;
    padding: .2rem .5rem;
    background-color: var(--primary);
    font-size: 1rem;
    height: 100%;
    border-radius: .3rem;
    border-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@supports (animation-timeline: auto) {

    .main-landing-page {

        * {
            view-timeline-axis: block;
            animation-range: entry 15% cover 50%;
            animation-fill-mode: both;

        }

        [class^="h4-section-title-"] {
            view-timeline-name: --header-title;
            animation-timeline: --header-title;
            animation-name: from-right;

            &+[class^="p-header"] {
                view-timeline-name: --header-p;
                animation-timeline: --header-p;
                animation-name: from-left;
            }
        }

        [class^="cards-"]:has([class^="card-"]) [class^="card-"] {
            view-timeline-name: --card;
            animation-timeline: --card;
        }

    }

    @supports not (overflow-x: clip) {

        body {
            overflow-x: hidden;
        }

    }

    @keyframes show {
        from {
            opacity: 0;
            transform: scale(.25);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes hide {
        from {
            opacity: 1;
            transform: scale(1);
        }

        to {
            opacity: .2;
            transform: scale(.25);
        }
    }

    @keyframes appear {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }


    @keyframes disappear {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes hide-to-right {
        from {
            opacity: 1;
            transform: translateX(0);
        }

        to {
            opacity: 0;
            transform: translateX(50%);
        }
    }

    @keyframes hide-from-left {
        from {
            transform: translateX(0) scaleX(1);
        }

        to {
            transform: translateX(50%) scaleX(0);
        }
    }

    @keyframes from-left {
        from {
            opacity: 0;
            transform: translateX(-75%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes to-left {
        from {
            opacity: 1;
            transform: translatex(0);
        }

        to {
            opacity: 0;
            transform: translatex(-75%);
        }
    }

    @keyframes from-right {
        from {
            opacity: 0;
            transform: translateX(75%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes to-right {
        from {
            opacity: 1;
            transform: translateX(0);
        }

        to {
            opacity: 0;
            transform: translateX(75%);
        }
    }


    @keyframes from-top {
        from {
            opacity: 0;
            transform: translateY(-75%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes to-top {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(-75%);
        }
    }

    @keyframes from-bottom {
        from {
            opacity: 0;
            transform: translateY(75%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes to-bottom {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(75%);
        }
    }

}