/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
    --font-family: "Poppins", sans-serif;

    /* --primary: #F8F5F6;
    --secondary: #242643;
    --accent: #966D55;
    --accent2: #86ABC8;
    --accent3: #30A2CD; */
    
  --primary: #f3f4ee;
  --secondary: #1a1835;
  --accent: #f9b41a;
  --accent2: #875c49;
  --accent3: #90939f;


  /* error-color */
  --error-color: rgba(255, 77, 80);
  --error-color-bg: rgba(255, 77, 80, 0.1);

  scroll-behavior: smooth;

  --padding: 1vw 2.5vw;
}

* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}


body {
    font-family: var(--font-family);
    color: var(--secondary);
    background-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.btn, .button {
    cursor: pointer;
    transition: .2s transform ease;

    &:hover {
        transform: scale(1.1);
    }
}
 
.btn-primary {
    /* --bs-btn-font-weight: 600; */
    --bs-btn-color: var(--primary);
    --bs-btn-bg: var(--secondary);
    --bs-btn-border-color: var(--secondary);
    --bs-btn-hover-color: var(--primary);
    /* --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)}; */
    --bs-btn-hover-bg: var(--accent);
    --bs-btn-hover-border-color: var(--accent);
    /* --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)}; */
  }

  
 
.ant-switch {
    background-color: var(--accent3);
    border-color: var(--accent3);

    & span {
        color: var(--secondary);
    }
}


.ant-switch-checked {
    background-color: var(--accent);
    border-color: var(--accent);
}

.ant-switch .ant-switch-handle::before {
  background-color: var(--accent);
}

.ant-switch-checked .ant-switch-handle::before {
  background-color: var(--secondary);
}
