/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
    --font-family: "Poppins", sans-serif;

    /* --primary: #F8F5F6;
    --secondary: #242643;
    --accent: #966D55;
    --accent2: #86ABC8;
    --accent3: #30A2CD; */

    --primary: #f3f4ee;
    --secondary: #1a1835;
    --accent: #f9b41a;
    --accent2: #875c49;
    --accent3: #90939f;


    --secondary-bg: #aba7d7;


    /* error-color */
    --error-color: #ff4d50;
    /* --error-color-bg: rgba(255, 77, 80, 0.1); */
    --error-color-bg: #ffd3d3;

    scroll-behavior: smooth;

    --padding: 1vw 2.5vw;
    --padding-section: 5rem 2.5vw;
    --hh: calc(4vh + 1lh + .65rem);
}

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: var(--font-family);
    color: var(--secondary);
    background-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.btn,
[class^="button"] {
    cursor: pointer;
    transition: .2s transform ease;

    .bi::before {
        transition: .2s transform ease;
    }

    &:hover {
        transform: scale(1.1);

        .bi::before {
            transform: scale(1.5);
        }
    }
}

.btn-primary {
    --bs-btn-color: var(--primary);
    --bs-btn-bg: var(--secondary);
    --bs-btn-border-color: var(--secondary);
    --bs-btn-hover-color: var(--primary);
    --bs-btn-hover-bg: var(--accent);
    --bs-btn-hover-border-color: var(--accent);
}


.fieldset {
    width: 100%;
    /* text-align: end; */
    display: grid;
    gap: 1rem;

    transition: .2s ease-in;
    transition-property: gap, margin-bottom;

    --special-color: rgb(211, 212, 206);

    &:has(.invalid-icon) {
        gap: 1.5rem;
        margin-bottom: .5lh;
    }

    .input-box {

        position: relative;
        display: grid;
        gap: .2rem;

        transition: .15s transform ease;

        &:hover {
            transform: scale(100.5%);

            .input,
            .textarea {
                border-color: #dad9e9;
            }
        }

        &:has(.invalid-icon) {

            .input,
            .textarea {
                border-color: var(--error-color-bg);
            }
        }

        &:has(.input:focus),
        &:has(.input:not(:placeholder-shown)),
        &:has(.textarea:focus),
        &:has(.textarea:not(:placeholder-shown)),
        &:has(.select) {
            .span-letter {
                border-bottom: .1rem var(--secondary);
                transform: translateY(-100%);
                color: var(--accent);
            }
        }

        .bi-asterisk {
            position: absolute;
            top: -1lh;
            left: 0;
            width: fit-content;
            font-size: .6rem;
            color: var(--error-color);
        }

        .label-input {
            position: relative;

            .span-label-div {
                position: absolute;
                top: .6rem;
                /* bottom: .5rem; */
                left: .7rem;
                display: flex;
                justify-content: start;
                align-items: center;
                /* gap: .05rem; */
                color: #808080;
            }
        }

        .select,
        .input,
        .textarea {
            width: 100%;
            border: .15rem solid var(--special-color);
            outline: none;
            border-radius: .5rem;
            padding: .5rem;
            background-color: var(--primary);

            transition: .15s border-color ease;
        }

        .select {
            /* appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none; */
            cursor: pointer;
            /* height: 2.5lh;
            font-size: 1rem; */
        }

        .invalid-icon {
            color: var(--error-color);
            text-align: start;
            width: fit-content;
            position: absolute;
            right: .5rem;
            bottom: -1lh;
        }
    }

    .subfieldset {
        border: .1rem solid var(--accent3);
        border-radius: .5rem;
        padding: 1rem;
        display: grid;
        gap: 1rem;

        transition-duration: .2s;
        transition-property: gap, padding-bottom;

        &:has(.invalid-icon) {
            gap: 1.5rem;
            padding-bottom: 1.5lh;
        }

        legend.legend {
            padding: 0 .5rem;
            font-size: 1.1rem;
            font-weight: 600;
            color: var(--secondary);
            width: fit-content;
        }
    }
}

.bi-eye,
.bi-eye-slash {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .5rem;
    cursor: pointer;
    font-size: 1rem;
    color: var(--accent);

}

.span-letter {
    font-size: clamp(.4rem, 4vw, .9rem);
    transition: .2s ease;
    transition-property: transform, color;
    background-color: var(--primary);
    padding: .0 .05rem;
    transition-delay: calc(var(--i) * 50ms);
    position: relative;
}


.ant-switch {
    background-color: transparent;
    border: .1rem solid var(--secondary);
    box-shadow: none;

    height: 1.1lh;

    transition: .2s ease;
    transition-property: background-color, border-color;

    span {
        color: var(--secondary);
        font-size: .8rem;
        font-weight: 600;
        transition: .2s color ease;
    }

    .ant-switch-handle::before {
        background-color: var(--secondary);
    }

    &:hover {
        border-color: var(--accent);

        span {
            color: var(--accent);
        }

        .ant-switch-handle::before {
            background-color: var(--accent);
        }

    }
}


.ant-switch-checked {
    background-color: var(--secondary);
    /* border-color: var(--accent); */

    span {
        color: var(--primary);
        font-size: .9rem;
        font-weight: 500;
    }

    .ant-switch-handle::before {
        background-color: var(--primary);
    }

    &:hover {
        background-color: var(--accent);

        span {
            color: var(--primary);
        }

        .ant-switch-handle::before {
            background-color: var(--primary);
        }
    }
}

.main-landing-page [class^="header-"] {

    text-align: center;
    max-width: 100%;

    [class^="h4-section-title-"] {

        font-size: clamp(1.3rem, 3vw, 2.7rem);
        font-weight: 600;
        margin-bottom: clamp(.7rem, 1.5vw, 1rem);

        &+[class^="p-header-"] {

            margin: auto;
            font-size: clamp(.85rem, 1.5vw, 1.3rem);
            width: 50rem;
            max-width: 100%;

        }
    }
}

select.form-select {
    outline: none;
    padding: .2rem .5rem;
    background-color: var(--primary);
    font-size: 1rem;
    height: 100%;
    border-radius: .3rem;
    border-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@supports (animation-timeline: auto) {

    .main-landing-page {

        * {
            view-timeline-axis: block;
            animation-range: entry 15% cover 50%;
            animation-fill-mode: both;

        }

        [class^="h4-section-title-"] {
            view-timeline-name: --header-title;
            animation-timeline: --header-title;
            animation-name: from-right;

            &+[class^="p-header"] {
                view-timeline-name: --header-p;
                animation-timeline: --header-p;
                animation-name: from-left;
            }
        }

        [class^="cards-"]:has([class^="card-"]) [class^="card-"] {
            view-timeline-name: --card;
            animation-timeline: --card;
        }

    }

    @supports not (overflow-x: clip) {

        body {
            overflow-x: hidden;
        }

    }

    @keyframes show {
        from {
            opacity: 0;
            transform: scale(.25);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes hide {
        from {
            opacity: 1;
            transform: scale(1);
        }

        to {
            opacity: .2;
            transform: scale(.25);
        }
    }

    @keyframes appear {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }


    @keyframes disappear {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes hide-to-right {
        from {
            opacity: 1;
            transform: translateX(0);
        }

        to {
            opacity: 0;
            transform: translateX(50%);
        }
    }

    @keyframes hide-from-left {
        from {
            transform: translateX(0) scaleX(1);
        }

        to {
            transform: translateX(50%) scaleX(0);
        }
    }

    @keyframes from-left {
        from {
            opacity: 0;
            transform: translateX(-75%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes to-left {
        from {
            opacity: 1;
            transform: translatex(0);
        }

        to {
            opacity: 0;
            transform: translatex(-75%);
        }
    }

    @keyframes from-right {
        from {
            opacity: 0;
            transform: translateX(75%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes to-right {
        from {
            opacity: 1;
            transform: translateX(0);
        }

        to {
            opacity: 0;
            transform: translateX(75%);
        }
    }


    @keyframes from-top {
        from {
            opacity: 0;
            transform: translateY(-75%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes to-top {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(-75%);
        }
    }

    @keyframes from-bottom {
        from {
            opacity: 0;
            transform: translateY(75%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes to-bottom {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(75%);
        }
    }

}