.main {
    /* min-height: 100dvh;
    min-width: 100dvw;
    display: flex;
    justify-content: center;
    overflow: clip; */
    max-width: 100dvw;
    padding-bottom: 100dvh;
    overflow: clip;
}

.section.home {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-color: var(--accent);
    background-image: var(--frame-url);
    background-size: cover;
    background-position: center;
    mix-blend-mode: multiply; */
    border: 1px solid green;
    background-color: rgba(0, 0, 0, 0.25);
    min-height: 300dvh;
    width: 100dvw;
    /* overflow-x: clip; */
    margin-bottom: 100dvh;
    position: relative;
    display: flex;
    justify-content: center;

    .img {
        border: 1px solid black;
        position: sticky;
        /* bottom: 0;
        left: 50%; */
        /* transform: translateX(-50%); */
        inset: 0 auto 50% auto;
        height: 100dvh;
        width: auto;
        mix-blend-mode: multiply;
    }
}