<!-- <p>table works!</p> -->
<main class="main">
    <div class="filters_section">
        <button class="button show" (click)="showFiltersModal()" [disabled]=" !itemList || itemList && itemList.length === 0 ? true : false " >
            Filter <i class="bi bi-filter"></i>
        </button>
        
        <!-- <app-filters [filterFormFields]="filterFormFields" (valueFormEmitter)="filterAction.emit($event)" ></app-filters> -->
    </div>
    <div class="table_container">
        @if ( itemList ) {
            @if (itemList.length > 0) {
                <table class="table">
                    <thead class="thead">
                        <tr class="tr">
                            <th class="th">#</th>
                            @for(item of tableInfo; track $index) {
                                <th class="th">
                                    {{item.header}}
                                </th>
                            }
                            <th class="th">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        @for(item of paginatedItemList; track item.id) {
                            <tr class="tr {{ ($index + 1) % 2 === 0 ? 'pair' : '' }} ">
                                <td class="td"> {{ itemIndexPosition($index + 1) }} </td>
                                @for(keyItem of tableInfo; track keyItem) {
                                    <td class="td {{ getClass(item, keyItem) }}">
                                        @if (keyItem.key === 'es') {
                                            @for (meaning of item[keyItem.key]; track $index; let i = $index) {
                                                {{ meaning }}
                                                @if (item[keyItem.key].length > 1 && i + 1 < item[keyItem.key].length) {
                                                    <span> - </span>
                                                }
                                            }
                                        } 
                                        @else {
                                            {{getValue(item, keyItem)}}
                                        }
                                    </td>
                                }
                                <td class="td actions_td">
                                    <i class="bi bi-pencil-square" title="Edit Word" (click)="editAction.emit(item.id)" ></i>
                                    <i nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteAction.emit(item.id)" class="bi bi-x-circle" title="Delete Word" ></i>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            } @else {
                <div class="tableEmpty">
                    <p> There aren't recods to show, please register some first. </p>
                </div>
            }
        } @else {
            <div class="tableLoading">
                <p> Cargando <span>.</span><span>.</span><span>.</span> </p>
            </div>
        }
    </div>
    @if( itemList && itemList.length >= 10 ) {
        <div class="paginator">
            <nz-pagination
              [(nzPageIndex)]="indexPage"
              [(nzPageSize)]="page.pageSize"
              [nzTotal]="itemList.length"
              [nzSize]="'default'"
              nzShowSizeChanger
              nzShowQuickJumper
              ></nz-pagination>
              <!-- (nzPageIndexChange)="pagintorChange($event)"
              (nzPageSizeChange)="pagintorChange($event)" -->
        </div>
    }
</main>
